[2016-10-04 16:17] krzysztof commented on #843
also description under license: " The selected license applies to all of your files displayed in the bottom of the form" -> "... TOP of the form"

[2016-10-04 16:24] #817 closed

[2016-10-04 16:42] #838 closed

[2016-10-04 16:42] #839 closed

[2016-10-05 07:33] krzysztof opened #847 "deposit: provide more information about the deposit bucket size on upload form"
Currently all buckets have a 50GB limit (only mentioned in fixed description).
The actual limit (which can be changed) is not indicated anywhere, nor is the current usage.
Additionally, uploading a file which would exceed the limit should raise an error with a relevant message about quota being exceeded.

[2016-10-05 09:10] krzysztof opened #848 "deposit-ui: show a warning before publishing that files cannot be replaced"
There used to be a popup just before clicking the "Publish" button that warned about this. As of yet, there is nothing indicating that files are unchangeable after the DOI has been minted.

[2016-10-05 14:18] krzysztof commented on #835
"openaire" search pattern: "communities:ecfunded AND type:publication"
"openaire_data" search pattern: "communities:ecfunded AND -type:publication"

[2016-10-05 15:10] joschirr opened #849 "oaiserver: plain refresh harvesting (without sets) fails"
When I try to simply harvest from
https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc
after few requests with resumption tokens the harvesting is interrupted with exceptions like:

[2016-10-06 14:12] slint commented on #791
Related to inveniosoftware/invenio-records-rest#122

[2016-10-06 14:48] joschirr commented on #825
still missing this record
oai:zenodo.org:153945
grouped in sets 'user-ecfunded' and 'openaire'
:-(

[2016-10-06 16:23] krzysztof commented on #825
@joschirr FYI, we are currently working on a generic solution and patch to the system, which will address all missing records from OAI sets. Sorry about the issues so far...

[2016-10-07 16:19] FRidh opened #851 "GitHub release does not result in DOI"
I have several repositories connected and whenever I upload a tag and thus create a release, a DOI should be generated. This however doesn't seem to be happening.

[2016-10-09 20:14] wetneb opened #853 "How to get a confirmed account with an invalid email address"
Not sure that's really an issue, but I've done this accidentally:
- Sign up with a valid address
- Don't click on the confirmation link yet
- After the sign up process you are already logged in: change your email address to a fake one
  (If the address was correct you would get a second email to confirm it)
- Click on the confirmation link of the first email

Your account is confirmed, with a fake

[2016-10-10 09:56] FRidh commented on #851
seems like this is a duplicate of https://github.com/zenodo/zenodo/issues/40

[2016-10-10 10:06] FRidh commented on #40
I was surprised to find out that releases based on tags is not supported. I agree with @wmayner that Zenodo should only consider tags.

[2016-10-10 10:06] #851 closed

[2016-10-10 13:32] dnet-team commented on #798
Hi Lars, any plans on when this feature will be available? If you need any support on the API usage, do not hesitate to ask.

[2016-10-11 08:37] tiborsimko commented on #800
FYI I have extended Gandi for a year.

[2016-10-11 22:24] lnielsen commented on #798
I would it expect it to land in production during December. I'll get in contact before we start implementing it.

[2016-10-13 13:04] krzysztof opened #855 "export: enhance bibtex formatter to include conference location for conference papers"
At the moment bibtex expor ignores the notion of the conference location.
This, however, is supported by bibtex as "location"/"venue" fields: http://www.pirbot.com/mirrors/ctan/macros/latex/contrib/biblatex/doc/biblatex.pdf

It would be good to parse the information inside ``record["meeting"]["place"]`` and include it inside a "venue" key.

[2016-10-14 16:15] krzysztof opened #856 "records-ui: long filenames should be wrapped or truncated"
Long filenames are causing buttons to extend beyond the files div:
https://zenodo.org/record/154486
Perhaps we should truncate long filenames, e.g. "Long_long_long_filename.zip" -> "Long_long_long_file..." or break it mid filename ?

[2016-10-17 06:04] myrmoteras opened #857 "community label included in item display"
After selecting an item from within the community (e.g. ), a generic page is returned that does not include any information about the respective community

![image](https://cloud.githubusercontent.com/assets/4609956/19426824/f3645d20-943f-11e6-9309-da5dc7867971.png)

I would like to suggest to include a banner or at least a line that indicates the source of the respective item, similar to the way

[2016-10-17 11:31] krzysztof opened #858 "deposit-ui: pre-reserve button tooltip"
Provide information in the mouseover text (or on click) that deposit needs to be saved before a DOI can be pre-reserved.

[2016-10-17 16:12] krzysztof commented on #855
Additionally to an address, an explicit field stating that given record is a conference presentation might be userful, e.g. a 'howpublished/note' field (with value "conference"?).

[2016-10-18 09:13] myrmoteras opened #859 "community label included in item display"
After selecting an item from within the community (e.g. ), a generic page is returned that does not include any information about the respective community

![image](https://cloud.githubusercontent.com/assets/4609956/19426824/f3645d20-943f-11e6-9309-da5dc7867971.png)

I would like to suggest to include a banner or at least a line that indicates the source of the respective item, similar to the way

[2016-10-18 12:31] krzysztof opened #860 "record-ui: display subjects in the record info"
Since we display keywords for the record, it might make sense to display "Subjects" as well as they provide even more precise description of the record.

[2016-10-18 12:39] krzysztof opened #861 "search: not possible to search by "subjects""
Searching by "subjects" field is yielding no results, even query as simple as: https://zenodo.org/search?page=1&size=20&q=_exists_:subjects.

The same is true for all "nested" elastic search mapping types:
https://zenodo.org/search?page=1&size=20&q=_exists_:thesis
https://zenodo.org/search?page=1&size=20&q=_exists_:related_identifiers

see "nested" type: https://github.com/zenodo/zenodo/blob/maste

[2016-10-18 14:46] behrica commented on #860
Thanks, for this. I made the original request.

We are currently evaluating to use zenodo for EFSA purposes. We see the usage of 'subjects' as an important ( internal) step to give 'standard keywords from a controlled vocabulary'.

That is why we are of course very intersted, that the 'subject' feature is working fully (in UI and acccessible via API)

[2016-10-18 15:12] behrica opened #862 "docker instruction miss the docker-ip ..."
I followed the instruction from INSTALL.rst, but are not able to open any page in my browser.

it seems to me, that all docker services run:

[code]

I tried to access all combinations of 'localhost:port', my ip, the docker ip, all ports
 but I always get an error in the browser:

[code]

So something is listening on the port, but it fails.

I attached the output of `docker-compose logs`

[docker-

[2016-10-20 09:18] slint commented on #861
FYI Here's an explanation between "object" and "nested" types in ES: https://www.elastic.co/blog/managing-relations-inside-elasticsearch.

From the looks of it, it seems like switching to "object" won't actually affect us. Plus, just having the ability to search I guess counters lack of it :smile:

[2016-10-20 11:48] joschirr commented on #825
Could you please give an ETA?
Unfortunately, it is very urgent to have up to date metadata in OpenAIRE.
Also related is #849 , so OAI-harvesting of all records doesn't work without issues.

[2016-10-23 14:54] myrmoteras opened #863 "embargo access"
Why did all the embargoed articles disappear and show as closed access?
![image](https://cloud.githubusercontent.com/assets/4609956/19627171/539a0946-9941-11e6-9534-1c58bcf19b1e.png)

[2016-10-23 15:44] myrmoteras opened #864 "search:"
I am trying to find articles that are saved but not published. But it seems that I can't find them.
What is the proper way to query our community?

[2016-10-24 15:19] bneron opened #865 "bug in metadata subjects example"
on the web documentation API Documentation for developers ( https://zenodo.org/dev)
Resources > Representations > Deposition metadata > subjects

the example of json object for subject is :
[{"term": "Astronomy",
 "id": "http://id.loc.gov/authorities/subjects/sh85009003",
 "scheme": "url"}]

but id is not supported and the json is rejected
the field must named 'identifier'

[2016-10-25 08:44] krzysztof opened #867 "restricted access icon on record page"
Restricted access icon on record page should have a "key" icon, just like on the deposit page for access conditions, instead of the icon that's already used for "embargoed access", i.e. crossed-out circle. At the same time, embargoed access on the deposit page should perhaps have a calendar icon?

[2016-10-26 13:13] lnielsen commented on #862
@behrica Can you provide us with information about which version of docker and docker-compose you are using and on which host you are running it.

[2016-10-26 13:35] lnielsen opened #869 "docs: Zenodo factsheet"

[2016-10-27 13:11] krzysztof commented on #865
Closed via #866 Thanks!

[2016-10-27 13:11] #865 closed

[2016-10-27 13:50] krzysztof opened #870 "redirector: add a zenodo.org/donate endpoint, which redirects to CERN donation page"
At some point it would be better to advertise our donation page with a simple URL:

`zenodo.org/donate`

instead of the long and impossible to remember one: `https://giving.web.cern.ch/civicrm/contribute/transact%3Freset%3D1%26id%3D20`

For the time being a simple redirect would be sufficient.

[2016-10-28 09:01] lnielsen commented on #861
This should just be solved with copying the required values to a common field https://github.com/zenodo/zenodo/blob/master/zenodo/modules/records/mappings/records/record-v1.0.0.json#L141

[2016-10-28 11:33] lnielsen commented on #732
No. This task is about adding the h2020 grant info to records which have the information in the notes field instead of as grant metadata.

[2016-10-28 11:36] lnielsen commented on #842
Perhaps it's as simply as making "drafts/published" more visible, and only load one or the other? Before making any changes to the UI lets get some different mock-ups and test them on different people to see what works.

[2016-10-28 12:44] lnielsen commented on #847
I thought this was already happening

[2016-10-28 12:46] lnielsen commented on #848
Currently there's:
![screen shot 2016-10-28 at 14 45 24](https://cloud.githubusercontent.com/assets/1698163/19806778/3b4c25c4-9d1d-11e6-9cc6-b5f68a6a7d12.png)

[2016-10-28 12:48] lnielsen commented on #825
I hope monday.

[2016-10-28 12:50] krzysztof commented on #848
I know, but this is probably easier to sub-consciously "filter-out" than the previous pop-up. Once in a while I have file change request, where user is surprised that files cannot be changed post publishing.

[2016-10-28 12:50] lnielsen commented on #853
Thanks for reporting it. This seems to be an issue with in our lower level library we are using called Flask-Security.

[2016-10-28 12:52] lnielsen commented on #856
I would go for wrap

[2016-10-28 12:55] lnielsen commented on #857
This on our radar. What we can do now is something similar like we do for GitHub software:
![screen shot 2016-10-28 at 14 54 18](https://cloud.githubusercontent.com/assets/1698163/19807044/81e1c286-9d1e-11e6-9604-6b9479a2d596.png)

[2016-10-28 12:57] lnielsen commented on #863
Next time it happens please copy/paste the URL and check if any other facets have been used at the same time. My hunch is this is probably an issue in the javascript part.

[2016-10-28 12:57] #863 closed

[2016-10-28 12:59] lnielsen commented on #864
https://zenodo.org/deposit?page=1&size=20&status=draft&q=communities:biosyslit

[2016-10-28 12:59] #864 closed

[2016-10-28 13:07] slint commented on #861
@lnielsen I tested this and it seems to be working:
[code]

What is the benefit though of keeping an almost duplicate key of type "nested", since we are not (at least to my knowledge) using it for any searches?

[2016-10-28 13:15] myrmoteras opened #873 "duplicate"
I just discovered that we have a series of duplicates in the system. That is one record, but also one in the draft driectory https://zenodo.org/deposit?page=1&size=20&status=draft&q=communities:biosyslit

How can we clean this up? It is obvious that these are duplicates because if I want to publish the drafts, the system would not allow them, because the respective DOI are already in the system. I

[2016-10-31 09:07] lnielsen commented on #873
We can delete **all** drafts (i.e. some 289) if that's what you want. Alternatively, it's not too hard to script in your end.

This will get you all the drafts deposits:

``GET https://zenodo.org/api/deposit/depositions/?status=draft&q=communities:biosyslit&size=300``

The iterate over the list and decide if it should be deleted. If it is to be deleted, then simply issue a

``DELETE https://zenodo

[2016-10-31 09:35] #447 closed

[2016-10-31 14:05] #843 closed

[2016-10-31 14:05] #858 closed

[2016-10-31 14:05] #867 closed

[2016-10-31 15:52] #742 closed

[2016-10-31 15:55] krzysztof opened #874 "citationstyle: better default citation style"
Default citation style is rather arbitrary and creates confusion especially for software records, as the default citation style formats software as "[Data set]" in the citation (CLS does not support type "software"). The best solution would be to allow for default citation style to be set by the user, with some sane defaults that are dependent on the record type.

[2016-10-31 16:02] slint opened #875 "records-ui: info fields partial metadata display"
In record details, fields that are built from nested metadata objects ("part_of", "imprint", "journal", etc) should be checked during template rendering for some "minimum required" fields.

Example:
"Published In" field is missing publisher, but still displays only a page number: https://sandbox.zenodo.org/record/59917/export/json#.WBdjW3UrJhE

[2016-10-31 16:08] krzysztof opened #876 "records-ui: RFC more prominent/easier to copy DOI"
User reported that the DOI behind the badge is not as prominent and not as easy to copy as the text links under the "Related identifiers:" section. Perhaps besides a badge with pop-up, the DOI section could contain a more prominent text-box with a "Copy to clipboard" button ?

[2016-11-01 10:35] krzysztof opened #878 "deposit-ui: multiple references input field"
It's painful to add multiple references to record metadata through individual entries. Perhaps we could support back the original behaviour i.e. newline-separated string with listed references?

[2016-11-01 10:55] krzysztof opened #879 "licenses: support for old CC licenses (<4.0)"
Some users try to upload records, content of which was licensed prior to CC-X 4.0 licenses. We should support old versions for backwards compatibility.

@lnielsen Can I create the entries in our licenses knowledge base?

[2016-11-01 13:05] lnielsen commented on #878
Related to #413

[2016-11-01 13:16] lnielsen commented on #876
Actually today, you just mark the badge as select and copy/paste and it will copy the DOI to the clipboard because of the ``alt`` tag on the image. I agree we could make it more explicit by adding a copy to clipboard button (this button however is not too user friendly - the only way that works on all browsers is based on Flash - the most used JS tool e.g. doesn't support Safari).

[2016-11-04 10:10] myrmoteras opened #886 "add different version to an existing document"
in our BLR workflow we upload PDFs, create a DOI. Sometimes, these articles are based on scans, and the data extraction is poor. For that reason we take the article, run  OCR outside, and create a new PDF with OCR underlying.
Is there a chance that we can add this new article to the existing article as "an alternative of the same, just with OCR included"?

[2016-11-04 12:43] lnielsen commented on #886
How soon after the publish do you want to replace the file? a day, week, month or year?

[2016-11-04 12:45] myrmoteras commented on #886
to be cautious: openended

[2016-11-08 13:02] krzysztof opened #888 "testing: deposit tests are order dependent"
changing the name of the test

``tests/unit/deposit/test_api_files.py`` -> ``tests/unit/deposit/test_rest_api_files.py``
 and
 ``tests/unit/deposit/test_api_buckets.py`` -> ``tests/unit/deposit/tests_rest_api_buckets.py`` changes their order of execution and makes them fail.

[2016-11-08 13:12] krzysztof commented on #888
We should maybe use this: https://pypi.python.org/pypi/pytest-randomly

[2016-11-14 18:21] DemetraDanae commented on #772
Hello again! I would like to know if there are any news for the DOI Not Found error for the dois related to GitHub repositories. I still have a problem with mine and I was wondering if this problem is still a general issue.

Thanks in advance

[2016-11-15 09:39] krzysztof commented on #821
As of yet, this is partially solved, i.e. clicking accept/reject for an already accepted community does nothing. This can be solved with a task which goes through all IRs and removes the redundant ones.

[2016-11-15 10:03] krzysztof commented on #859
Duplicate of https://github.com/zenodo/zenodo/issues/857

[2016-11-15 10:03] #859 closed

[2016-11-16 14:43] peterdesmet commented on #151
Yes! Would also very much like this.

[2016-11-16 15:15] lnielsen opened #897 "stats/communities: content summary for a community"
Expose more of elasticsearch's aggregation features in order to provide summary page for a given search (e.g. display number of articles per journal, number of files per dataset etc.)

[2016-11-17 17:21] krzysztof opened #898 "tests: fix the full_record fixture"
the ``full_record`` fixture is incorrect w.r.t. communities - oaisets:

https://github.com/zenodo/zenodo/blob/master/tests/unit/conftest.py#L435
https://github.com/zenodo/zenodo/blob/master/tests/unit/conftest.py#L506
(they should match)

The ecfunded community or oaiset should be added/removed from either place (whichevers suits the units test that already use it more).

[2016-11-18 08:53] behrica commented on #862
docker-compose -v
docker-compose version 1.7.1, build 6c29830

docker -v
Docker version 1.12.3, build 6b644ec

On Ubuntu:
[code]

[2016-11-18 14:54] slint commented on #853
Resolved through https://github.com/inveniosoftware/flask-security-fork/commit/eb38e31014244d7153216f19313e4781944532a9. Released when #881 is merged.

[2016-11-20 20:59] lnielsen opened #900 "deposit-ui: support for links in ckeditor"
Currently links are supported in description field in the API, but the CKEditor does not allow it. See fields.html.SanitizedHTML

[2016-11-20 21:10] lnielsen opened #901 "global: contact form"
Add a contact form to allow for easier support management:

- Form should ask people to include direct links and be precise. See https://github.com/support for example.
- Contact form can automatically detect which browser and OS they are using.

[2016-11-21 12:15] lnielsen opened #902 "deposit: community problems"
1. Edit deposit. Remove Zenodo community. Save. Publish.
2. Accept Zenodo community.
1. Edit deposit. Save. Publish. (internal server error).

[2016-11-21 20:00] #902 closed

[2016-11-22 07:35] lnielsen opened #904 "deposit: firefox 31.4.0/linux issue"
Trying to save & publish deposit results in " The server does not support the media type transmitted in the request."

[2016-11-22 09:09] slint commented on #904
Probably resolved through https://github.com/inveniosoftware/invenio-records-rest/commit/fc9da683d9061a262d7feacbc0db7b5997b4e0a1 (applied with #881).

[2016-11-23 06:27] lnielsen commented on #833
Apologies for the long delay in replying to this one:

1) Find your bucket URL:
[code]

2) Upload a file into the bucket
[code]

Note the bucket is versioned, so in order to completely remove a file again you must use the version link. Find it from listing the bucket:
[code]

Deleting the file:
[code]

[2016-11-23 06:27] #833 closed

[2016-11-23 07:47] #791 closed

[2016-11-24 10:16] slint commented on #853
#881 merged and the scenario was tested successfully on production with the desired results.

[2016-11-24 10:16] #853 closed

[2016-11-24 10:47] krzysztof opened #909 "profiles: generate a bibtex file with all of user's records"
Link for downloading an aggregate .bib file containing all of their records' bibtex entries.
This is probably an addition to a larger sprint on showcasing users's record activity and collection.

[2016-11-25 09:06] mrbiber opened #911 "Feature request: Public profile pages"
I'd like to have a link on my website that links to all my publications on Zenodo. This seems not be possible at the moment.

[2016-11-28 13:15] krzysztof opened #912 "github: badges should contain no caching headers"
1. Create a GitHub release, insert the badge in README
1. Create another release
1. **Badge still renders the old image, although it properly redirects to the new release**
1. Refreshing browser cache does not work (nor does changing the browser), since the images are hosted (and cached) on GitHub side once the badge is added.

This is a Travis badge SVG response headers:
[code]

while this is fro

[2016-11-30 22:07] myrmoteras opened #913 "deposit: saving problem"
when changing the access right from closed access to open access CCBY, the document cannot be stored saved and published again . See eg https://zenodo.org/deposit/160532

[2016-12-04 11:42] christofs opened #915 "Feature request: Download statistics for each deposit"
Zenodo is very useful and the new release adds a lot of improved functionality. One feature I think is still missing are download statistics for each deposit. The altmetrics integration is nice, but I suspect a lot more people download an item than blog or tweet about it. So download statistics would provide very welcome, more fine-grained information and it wouldn't even take an external provider

[2016-12-04 11:44] christofs commented on #911
I'm using the URL generated when searching for my name as a workaround: https://zenodo.org/search?page=1&size=100&q=%22Sch%C3%B6ch,%20Christof%22

[2016-12-05 10:53] lnielsen opened #916 "records: organisations data"
Investigate possible use of https://grid.ac/downloads

[2016-12-05 12:07] slint commented on #912
This could be implemented by extending the API the `invenio-formatter`'s [badge view](https://github.com/inveniosoftware/invenio-formatter/blob/master/invenio_formatter/views.py#L47-L63), since all kinds of badges could benefit from some sort of cache control (eg. Versioned DOI badges in the future). So additionally to badge `title` and `value`, you could pass also `etag`, `last_modified`, etc.

[2016-12-05 15:17] krzysztof opened #917 "OAI-PMH export failures due to non utf8 characters in text"
Text in descriptions/titles/authors needs to be cleaned with ftfy tool on the deposit saving (add washing to marshmallow schema).

[2016-12-05 15:20] krzysztof opened #918 "auditor: add export formats checks"
Try to export each record into each export format, especially using the serializer ``datacite_31``.

[2016-12-05 15:22] krzysztof opened #919 "data: clean up data on Zendo"
Run the auditor task to find non-serializable record and fix them manually with FTFY.

Also manually check for similar issues with deposit and fix it as well.

[2016-12-05 15:22] krzysztof commented on #919
Depends on #918 #917

[2016-12-06 15:53] krzysztof opened #920 "Check OAI-PMH indexing with DCG"

[2016-12-06 21:34] denis-yuen commented on #596
Adding to this. It is not clear how to associate an ORCID with my authorship on software that I've gotten into the Zenodo ecosystem via GitHub integration. When editing an upload, I only see an affliation field, but that only shows up as a tooltip and not the special orcid icon ala  https://sandbox.zenodo.org/record/18401

[2016-12-07 07:46] krzysztof opened #921 "orcid: log-in with ORCID does not work for disconnected accounts."
1. Log in to Zenodo and connect your ORCID account (or log-in with ORCID in the first place).
2. Go to linked accounts and disconnect from ORCID.
3. Log-out and try to connect with ORCID again - you should be redirected to sign-up page (bug).

[2016-12-07 09:27] krzysztof opened #922 "marcxml: add missing datacite export formats"
Harvested records do not serialize to the same MARCXML as they used to, what is missing is:

- the leader field
- file_url field

[2016-12-07 12:24] slint commented on #919
We should integrate into tests/checks what happens when general weird string input is provided for records using this list: https://github.com/minimaxir/big-list-of-naughty-strings

[2016-12-07 12:50] krzysztof commented on #919
:+1: It could be as an extra unit test to Deposit API (https://github.com/zenodo/zenodo/blob/master/tests/unit/deposit/test_api_metadata.py) with a fixture of possible naughty inputs.

It's probably easy to implement and check, but this might be deserving of its own issue. I worry we might discover too much problems to fix within this sprint.

[2016-12-07 12:54] slint opened #923 "tests: heavier testing on "naughty" strings"
Using the list of strings provided by https://github.com/minimaxir/big-list-of-naughty-strings, tests on deposit should have their contents `pytest.mark.parametrize`'d, in order to detect any unknown issues.

[2016-12-07 12:55] slint commented on #919
Created #923 923

[2016-12-08 10:35] slint opened #925 "records: automatic updating of related identifiers"
Simple example:
1. User creates a new record `456` with a related identifier "is new version of", that points to the old Zenodo record `123`.
2. On publication (or during editing and "Save") of the new record, the `123` record's related identifier's (if the record is owned by the same user) automatically (or after the user's approval) gets updated with a related identifier "is previous version of"

[2016-12-09 14:47] krzysztof commented on #835
Closed by #927

[2016-12-12 07:59] krzysztof commented on #874
Another option would be to allow users to define a citation of the record "verbatim".

[2016-12-12 09:19] krzysztof opened #928 "search-ui: extend record item info in curation list"
Should we provide more additional information about the record on the community curation list (e.g. conference/journal information?).

[2016-12-12 09:30] krzysztof opened #929 "files: scan ZIP files for __MACOSX and .DS_Store"
A lot of records have those hidden OSX cache files packages with the data.
Unzipping the archive and repackaging might be heavy on our servers but we should at least look at the ZIP header and alert users right in the deposit form that they have packaged it and encourage to remove them from the archive.

[2016-12-12 09:54] krzysztof commented on #794
Or use IIIF and cache lightweight thumbnails.

[2016-12-12 14:17] #917 closed

[2016-12-12 15:09] dnet-team commented on #798
Hi Lars, any news on this feature? It would be great to have it tested and in production in time for the review, as initially planned.

Alessia from D-Net/OpenAIRE Tech team

[2016-12-13 08:05] krzysztof opened #931 "pages: outdated link on Policies page"
The section "Metadata types and resources" on Policies page: https://zenodo.org/policies needs to be updated. The URL is no longer resolving properly.

[2016-12-13 09:35] krzysztof commented on #922
Closed by #914

[2016-12-13 09:35] #922 closed

[2016-12-13 12:05] slint commented on #794
CDSLabs is already using IIIF, so we might do for `flask-iiif` a cross-section mini-sprint (there are only minor issues at the moment) at some point to refine the package into something production-ready.

[2016-12-13 12:32] #835 closed

[2016-12-15 19:16] wetneb opened #934 "HTTP 504 error on production API"
Our users are not able to deposit papers in Zenodo due to an HTTP 504 error in the Zenodo API.

URL: `https://zenodo.org/api/deposit/depositions?access_token=[...]`
Server response:
[code]
Dissemin issue: https://github.com/dissemin/dissemin/issues/336

[2016-12-15 19:30] wetneb commented on #934
I should mention that @sje30 tried to deposit his paper three times and the deposits all failed due to this error. There were 9 minutes between the first and the last deposit. Let me know if you need more info from the logs.

[2016-12-16 12:04] lnielsen commented on #934
This was due to an outage of the CERN storage backend which we depend. File upload/download was down from 17:57-~20:20.  Usually we post these things on Twitter.

[2016-12-16 12:04] #934 closed

[2016-12-16 12:21] wetneb commented on #934
Thanks a lot! @sje30, feel free to retry.

[2016-12-16 12:27] slint commented on #919
@lnielsen @krzysztof I guess this could be closed, all the "cleaning" PRs have been merged and fixes have been applied on production. Maybe do a last check?

[2017-01-02 08:50] fungs opened #935 "utf8 broken preview for markdown"
It seems that the markdown renderer in the preview window does not display UTF8 encoded markdown files correctly although this is the standard text encoding on most systems nowadays.

Example:
https://zenodo.org/record/201076

[2017-01-02 08:55] lnielsen commented on #935
Thanks. We'll take a look.

[2017-01-03 13:41] peterdesmet opened #936 "Broken link in email to accept/reject dataset in community"
Just got my first request to accept/reject a dataset to a community I curate. The link at the bottom has encoded apostrophes `&#39;` which Gmail renders together with the link, resulting in a broken link:

![screen shot 2017-01-03 at 14 38 05](https://cloud.githubusercontent.com/assets/600993/21609420/9a39f4a6-d1c2-11e6-954a-0419aac60344.png)

Probably better to generate the email with an unquoted

[2017-01-05 14:16] slint opened #937 "records: report spam link"
Currently the only way users can report spammy content is through email. A simple solution could be a discrete "Report" button/link in Communities/Records, that would send an automatic (email) notification to Zenodo administrators.

[2017-01-09 09:30] krzysztof commented on #937
It would be nice to have such list of spam-reported records available in admin panel instead of relying on email. This could be a dedicated model just for that (spam flags), or perhaps a generic "tags"?

[2017-01-09 14:43] krzysztof commented on #661
Duplicate of #874

[2017-01-09 14:43] #661 closed

[2017-01-10 15:31] pkraker opened #939 "docs: oai-pmh docs should not suggest harvesting user-zenodo"
I am new to OAI-PMH, so I may be doing something wrong here, but I am only able to retrieve 4192 records using the `user-zenodo` set. This is also the number of records that's reported by the resumptionToken when executing https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc&set=user-zenodo

There seem to be no records before September 2016, as this query gives no results:
https://zenod

[2017-01-10 15:49] lnielsen commented on #939
The set ``user-zenodo`` is what is being displayed in the [community Zenodo](https://zenodo.org/communities/zenodo/search) and is essentially what has been on the Zenodo frontpage.

If you want all of Zenodo use https://zenodo.org/oai2d?verb=ListRecords&metadataPrefix=oai_dc instead.

The reason why there are only record updates from September 2016, is because we made a major update on Sep 12 wher

[2017-01-10 16:24] pkraker commented on #939
Thanks for the quick reply and the clarification! You should consider updating your docs with this information, as they still advise to use user-zenodo: https://zenodo.org/dev#harvest-sets

[2017-01-11 08:15] lnielsen commented on #939
Thanks for spotting the problem. We'll update the documentation.

[2017-01-11 09:58] krzysztof commented on #919
I guess this task is now done. The checks can be part of the auditor ticket #918

[2017-01-11 09:58] #919 closed

[2017-01-13 09:08] krzysztof commented on #878
Same goes for authors list (and probably most of the multiple-item fields).

[2017-01-13 10:01] johanneskoester opened #940 "File upload via REST API does not use the filename attribute"
When following the quickstart guide, the code

[code]

seems to ignore the filename attribute. When I specify something else than `myfirstfile.csv`, the file will still be named like that.

[2017-01-13 12:40] krzysztof opened #941 "github: Releases should have a FK to Record, not to Deposit"
Upon GitHub release, a FK from Release model to RecordMetadata is set.
At the moment it's the deposit metadata that's being referred to from the Release (see https://github.com/zenodo/zenodo/blob/master/zenodo/modules/github/api.py#L110)  - it should be Record instead. This was causing problems as one of the Releases did not render on the Zenodo GitHub settings page due to "doi" key not being pres

[2017-01-13 12:56] krzysztof commented on #941
For consistency, this should also go with migration of previous Releases.

[2017-01-13 13:41] slint opened #942 "deposit: removing DOI when editing a published record shouldn't be possible"
Currently editing a published record and completely removing/clearing the DOI field in the deposit form, is a "Save"-able state, from which though the user cannot recover (clicking "Pre-reserve DOI", or filling in the DOI manually and saving results to an "internal server error").

In order to tackle this issue, two steps are required:
- [x] Proper validation of the submitted deposit data with reg

[2017-01-13 14:46] krzysztof opened #943 "deposit: REST API is accepting metadata format, which is later incorrectly rendered on UI."
REST API allows for passing old-style grant information like:

[code]
which is later saved in the deposit as is, without serialization. This is causing errors on the "Uploads" page as the list of deposits is failing to render (Internal Server Error) since one of those fails to serialize the grants information.

[2017-01-13 14:57] krzysztof commented on #943
Relevant issue: https://zenodo.uservoice.com/admin/tickets/57786

[2017-01-15 12:50] hertzsprung opened #944 "Zenodo lists only some repositories from organisation"
I have zenodo connected to my github account and I have received permission from the owner of the @AtmosFOAM organisation.  However, I can only see two AtmosFOAM repositories listed in zenodo: `AtmosFOAM/gmd-geodesic-mesh` and `AtmosFOAM/OpenFOAM-dev`.  Is there a reason why the other public repositories don't appear in zenodo?

[2017-01-15 18:13] hertzsprung commented on #944
Thinking about it, I assume zenodo's listing only those repositories which I created rather than listing those which I have read/write access.  Is this by design?

[2017-01-16 07:51] krzysztof commented on #944
Zenodo is listing those repositories, to which you have "admin" permissions - this is so that Zenodo can install webhooks on those repos. Those include: your personal repositories and organizational repositories to which you have admin access, either as an admin of the whole organization, or as an admin of the specific organizational repositories.

@hertzsprung Perhaps you were given admin access

[2017-01-16 07:58] hertzsprung commented on #944
Thanks for the explanation, perhaps this could be added to the info box at the top of the repositories list?  I'll ask the organisation owner if I can get (temporary) admin access for the other repositories.

[2017-01-16 08:45] krzysztof commented on #461
Possible candidate for online 3D models previewer: http://vcg.isti.cnr.it/3dhop/

[2017-01-16 10:42] lnielsen opened #945 "slate for api documentation"
- [x] Check styling with header
- [x] Deploy to GH pages (https://www.sitepoint.com/writing-api-documentation-slate/)
- [x] Transfer old docs to new

[2017-01-16 10:42] lnielsen opened #946 "lektor for general docs"
- [x] about/help

[2017-01-16 10:43] lnielsen opened #947 "setup subdomains for docs"
- [ ] about.zenodo.org
- [ ] help.zenodo.org
- [ ] developers.zenodo.org
- [ ] status.zenodo.org
- [ ] Uptimerobot alarms

[2017-01-18 07:34] #732 closed

[2017-01-18 07:36] #825 closed

[2017-01-18 07:36] #849 closed

[2017-01-18 07:37] lnielsen commented on #860
@slint Has this been merged?

[2017-01-18 07:39] lnielsen commented on #108
Since Invenio v3 not possible anymore

[2017-01-18 07:39] #108 closed

[2017-01-18 07:41] lnielsen opened #948 "deposit: form for requesting quota increase"

[2017-01-18 07:41] lnielsen commented on #152
Fixed in Sep 12 deployment. Form reported in #948

[2017-01-18 07:41] #152 closed

[2017-01-18 07:43] lnielsen commented on #160
Only remaining issue to deal with is to review information presented on tombstone page and policies.

[2017-01-18 07:43] #190 closed

[2017-01-18 07:45] lnielsen commented on #212
Duplicate of #68

[2017-01-18 07:45] #212 closed

[2017-01-18 07:46] #268 closed

[2017-01-18 07:47] #297 closed

[2017-01-18 07:48] #460 closed

[2017-01-18 07:50] lnielsen commented on #413
Currently the format is as in the help text. ``Family name, Given names``. Exception is that it can also be organisational names. ORCID/GND support is only available in the API and there's not support for registering email addresses.

[2017-01-18 07:50] #413 closed

[2017-01-18 07:51] #407 closed

[2017-01-18 07:51] lnielsen commented on #405
Won't fix

[2017-01-18 07:51] #405 closed

[2017-01-18 07:52] lnielsen commented on #375
Solved by sep 12 update

[2017-01-18 07:52] #375 closed

[2017-01-18 07:53] lnielsen commented on #530
Possible via new unpublished records API (up to 10k records)

[2017-01-18 07:53] #530 closed

[2017-01-18 08:01] #873 closed

[2017-01-18 08:01] #870 closed

[2017-01-18 08:16] #921 closed

[2017-01-18 08:19] lnielsen commented on #921
This is expected behaviour.

1. You can't sign up with ORCID in the first place without providing email/username.
2. When user disconnects the account we no longer have any information (like a verified email address) that we can use on the second sign-up attempt to  automatically identify the local account. Hence if the user didn't set a password and want to relink the local account with the orcid

[2017-01-18 08:21] lnielsen commented on #814
Fixed

[2017-01-18 08:21] #814 closed

[2017-01-18 09:24] lnielsen opened #949 "openaire: harvest grants from all funders in openaire"

[2017-01-18 09:25] lnielsen opened #950 "docs: document /api/funders and /api/grants endpoints"

[2017-01-18 10:43] krzysztof commented on #946
- [ ] Fix the sub nav-bar
- [ ] Fix the non-rendering icons/images
- [ ] Fix the whatsnew page
 - [ ] Write a model for tiling the features
 - [ ] Full-page layout
- [ ]

[2017-01-18 15:52] lnielsen commented on #947
Done

[2017-01-18 15:52] #947 closed

[2017-01-19 08:43] egabancho commented on #946
@krzysztof unfortunately I couldn't do my, always underestimated, educational work, and show you an example of what computer security can do for you in your daily basis ;-)

[2017-01-19 15:03] cpaulik commented on #276
@lnielsen up there https://github.com/zenodo/zenodo/issues/276#issuecomment-123738040 you said

Is there a issue where we could track progress on that? In the current Zenodo release I can see a summary in my Github integrations settings but other users have no way of seeing a summary of a specific package and as far as I can tell there is no way to link to a summary page of all the releases of a s

[2017-01-19 17:07] myrmoteras opened #953 "viewer"
Are there any plans to develop a viewer that allows to see mutliple images at the same time? May be even deselect or move them around?  An example is this viewer from GBIF

https://demo.gbif.org/occurrence/gallery?basis_of_record=PRESERVED_SPECIMEN&taxon_key=6

![image](https://cloud.githubusercontent.com/assets/4609956/22116838/122616d2-de72-11e6-9c48-bc999ee6ceec.png)

[2017-01-20 07:54] krzysztof commented on #946
- [ ] Zenodo.org changes:
  - [ ] Unify Zenodo.org footer with new footer from Docs.
  - [ ] Add redirects to pages (/contact, /about, etc.)
- [ ] Set up travis key authentication
- [ ] Fix the sub-navigation shadow on the hover items (should extent to full height of the bar)

[2017-01-23 09:47] krzysztof commented on #945
Done

[2017-01-23 09:47] #945 closed

[2017-01-24 17:53] slint opened #954 "records: DOI versioning integration checklist"
Currently adding versioning to Zenodo requires a variety of changes throughout Deposit API, DOI/Datacite registration, management tasks (deleting/moving records), etc. Here's a list of such cases and their affecting components:

### Deposits/Records API

- [x] New records should also be coupled with creation of a new Concept PID
  - [x] Concept PIDs should get their Recid minted first, to keep a l

[2017-01-25 23:54] #828 closed

[2017-01-25 23:54] #860 closed

[2017-01-25 23:54] #861 closed

[2017-01-26 06:28] lnielsen commented on #782
Not relevant in with Lektor/Slate

[2017-01-26 06:28] #782 closed

[2017-01-28 15:38] suso2 opened #956 "Problem installing Zenodo with Docker"
Hi.
When I run "docker-compose up", I constantly get this error:

_frontend_1 | 172.17.0.12 - - [28/Jan/2017:12:47:59 +0000] "HEAD /static/ping HTTP/1.0" 200 0 "-" "-" "-"
db_1       | ERROR:  relation "pages_page" does not exist at character 347
db_1       | STATEMENT:  SELECT pages_page.created AS pages_page_created, pages_page.updated AS pages_page_updated, pages_page.id AS pages_page_id, pages

[2017-01-28 19:55] suso2 commented on #956
I tried to follow the instructions and I have a new problem. When I run
"docker-compose run --rm web zenodo fixtures loaddemorecords" I get this error.

jmartin@ubuntuzenodo:~/zenodo$ docker-compose run --rm statsd bash /init.sh
{"acknowledged":true}jmartin@ubuntuzenodo:~/zenodo$ docker-compose run --rm web zenodo fixtures loaddemorecords
/usr/local/lib/python3.5/site-packages/dojson/contrib/to_ma

[2017-01-29 21:58] ccamara commented on #911
+1 to this feature request.

IMHO having a public profile is a must if scholars are to use zenodo as a page for promoting their work or to be updated about other scholars' + it would help to find content by the same author (provided that author's name had a link to their public profile).

Using the search's URL is a workaround which unfortunately is useless if you have a popular name or if your na

[2017-01-30 06:08] lnielsen commented on #956
It looks like it does not find the [StatsD server]( https://github.com/zenodo/zenodo/blob/master/docker-compose.yml#L79-L88). Did you initialize it - i.e. ``docker-compose run --rm statsd bash /init.sh``?

[2017-01-30 09:06] suso2 commented on #956
Thanks for your answer. I tried again:
1. Clean installation Debian-8.7.1-amd64
2. Docker client and server 1.13.0
docker-compose version 1.10.0, build 4bd6f1a

3. git clone https://github.com/zenodo/zenodo.git (ok)
4. cd zenodo
5. git checkout master (ok)
6. docker-compose build (error)

Step 16/24 :
/usr/local/lib/python3.5/site-packages/dojson/contrib/to_marc21/model.py:22: UserWarning: MARC21

[2017-01-30 18:22] suso2 commented on #956
Firewall problem. Thanks...

[2017-01-30 18:22] #956 closed

[2017-01-30 18:23] satra opened #957 "error disconnecting github"
i'm trying to add an organization that wasn't added when i first signed up. it seems there is no way to do using the zenodo ui. so i decided to disconnect and reconnect github, but when i click disconnect, it results in the following message.

[code]

[2017-02-02 14:52] kwenzig opened #959 "With apostrophe in title no citation is displayed"
There is a box for citations on the right, where an example for a generic citation is displayed, above the field where a citation style can be selected.

It seems that an apostrophe in the title (or author etc.) prevents this generic citation from being displayed.

Examples:
- https://zenodo.org/record/259550
- https://sandbox.zenodo.org/record/64230

[2017-02-06 08:55] krzysztof opened #961 "accounts: username with a dot (.) is causing problems during long"
Currently it's not possible no create a username with a dot, but legacy usernames with dots have problems with login by username.

[2017-02-08 08:24] myrmoteras opened #962 "visualization of content"
I would like to see a tool to visualize the content we have the Biodiversity Literature Repository, similar to this one, where based on the key words and may be the captions users could get a response of the respective illustrations.

https://demo.gbif.org/occurrence/gallery?q=Formicidae&institution_code=cas&media_type=MovingImage&media_type=StillImage

![image](https://cloud.githubusercontent.com

[2017-02-09 08:18] par4dise opened #963 "Text search: accent sensitive?"
Many european languages include accented characters which are widely use, for example in first names. Let's take for example mine: "Sébastien". On most information systems it can be found by searching the correct spelling, as well as "Sebastien" without accent. It is not the case on Zenodo: **you'll find different authors depending on how you type the first name** ; I think it is not a correct beh

[2017-02-09 08:25] par4dise opened #964 "Text search (communities): case sensitive"
When [searching for communities](https://www.zenodo.org/communities), if you don't type the community title **exactly** as it was defined by the creator, no chance find what you're looking for.
Check by yourself:

1. [Search for "human brain"](https://www.zenodo.org/communities/?p=human+brain) --> no result
2. [Search for "Human Brain"](https://www.zenodo.org/communities/?p=Human+Brain) --> expect

[2017-02-13 10:03] slint commented on #210
Another solution might be to stream all the files inside a zip using a library such as https://github.com/SpiderOak/ZipStream. No extra temporary disk storage will be required and (hopefully, if the library works as advertised) no extra memory.

[2017-02-17 10:10] 7048730 opened #965 "Licenses controlled list missing in API docs"
Small issue here: there seems to be a dead end in [this line](https://github.com/zenodo/zenodo/blob/cc9b16034be0b837aec8c8a9a8873a72c63f9826/zenodo/modules/fixtures/data/pages/api.html#L1413)

`zenodo/zenodo/modules/fixtures/data/pages/api.html`

    ...
    <a href="https://zenodo.org/kb/export?kbname=licenses&format=kba">here</a>
    ...

I was hoping to find the controlled vocabulary for the ze

[2017-02-20 09:34] myrmoteras opened #966 "preview: error messasges"
recently, this message often shows up when downloading for the first time the image

![image](https://cloud.githubusercontent.com/assets/4609956/23101929/79aeb49a-f69f-11e6-9652-4e8e6159ff13.png)

sometimes this broken images shows up
![image](https://cloud.githubusercontent.com/assets/4609956/23101944/b0b59e36-f69f-11e6-81de-ad8e6f4b91ac.png)
 https://zenodo.org/record/293171#.WKmCjagrLAQ

[2017-02-20 14:52] slint opened #967 "oauth2server: revoke token endpoint"
We (or `invenio-oauth2server`) seem to be missing a token revocation endpoint, which causes the `/account/settings/applications/` view to crash for users that have Authorized Applications because of failure to generate the [revoke token url](https://github.com/inveniosoftware/invenio-oauth2server/blob/master/invenio_oauth2server/templates/invenio_oauth2server/settings/index.html#L86).

[2017-02-21 08:20] krzysztof opened #969 "serialization: DataCite serializer changes all-caps words"
See for example capital "JSON" and "TSV" in the title here: https://zenodo.org/record/268568
and its DataCite serialization: https://zenodo.org/record/268568/export/dcite3#.WKv2wPH6wUE ("Json", "Tsv").
The up-case serialization is also what ends up in DataCite: https://search.datacite.org/works/10.5281/ZENODO.268568

[2017-02-21 09:10] krzysztof commented on #942
Steps to reproduce this error:

1. Create a new deposit, fill in all metadata + file, and provide an external DOI, e.g.: "10.1000/12345"
2. Click "Save" and "Publish"
3. Edit the record, remove the DOI, click "Save" (Saves the deposit properly)
4. At this point Saving the deposit throws Internal Server Error on Saving/Publishing.

[2017-02-23 12:46] myrmoteras opened #970 "deposit: missing value in related identifier in API uploads"
The automatic upload of new articles often does not complete the last related identifier. According to our input, the attribut eg "is part of this upload"

![image](https://cloud.githubusercontent.com/assets/4609956/23259521/c2fe839c-f9cd-11e6-83e0-ffc655297ca6.png)

https://zenodo.org/deposit/321255

This then has the consequence, that after editing the record cannot be saved anymore.

other unfi

[2017-02-23 14:06] slint commented on #936
Fixed via https://github.com/inveniosoftware/invenio-communities/commit/173f93ca60e2da2ea4ec0808fffbdb2b8b639b36. Pending `invenio-community` release to be integrated in Zenodo.

[2017-02-28 08:21] lnielsen opened #974 "global: test zenodo with elasticsearch v5.x"

[2017-02-28 13:51] vedantrathore commented on #875
@slint I was thinking of solving this but I was unable to find the relevant section of code, any hints?

[2017-02-28 14:31] slint commented on #875
This has to mostly do with templates that get rendered in the "details" part of a record page (the light-grey box in the right). These templates are organized inside [zenodo/modules/records/templates/zenodo_records](https://github.com/zenodo/zenodo/tree/master/zenodo/modules/records/templates/zenodo_records).The example I mention is related specifically to [this line](https://github.com/zenodo/zen

[2017-02-28 16:21] jainaman224 opened #978 "Text search (communities): Not working"
* Sometimes, (Communities)[https://www.zenodo.org/communities/] for every query, giving same result.

Redirecting to https://www.zenodo.org/?p=cos.
I think it is a bug and I would like to work on it.

[2017-02-28 16:28] jainaman224 commented on #978
It is working well now.

[2017-02-28 16:28] #978 closed

[2017-02-28 17:01] krzysztof commented on #964
@jainaman224 Feel free to take a look. I don't think anyone else is looking into this right now.

[2017-02-28 17:13] slint commented on #964
@jainaman224 This is related to https://github.com/inveniosoftware/invenio-communities/issues/99, which as you can see though resides in another repository of the Invenio framework that Zenodo is based on. This will involve pushing changes to `invenio-communities`. To start, first fork the `invenio-communities` repository, fix the issue locally, test it, and once you're done let us know here (incl

[2017-02-28 17:37] jainaman224 commented on #964
@slint Thank you.

[2017-02-28 20:31] satwikkansal commented on #931
@krzysztof I'd like to work on this. As the link is broken, I tried to find an alternative link to schema, but couldn't find suitable link in https://www.openaire.eu or http://inveniosoftware.org/
Could you please provide the link (if you have any) or shall we considering removing this link?

[2017-03-01 10:49] jainaman224 commented on #964
@slint Please have a look at https://github.com/jainaman224/invenio-communities/tree/patch-1.

[2017-03-01 14:05] slint commented on #964
@jainaman224 Looks good! It would be also great if you could also write some basic tests for these changes. Take some inspiration from the already existing tests in [the tests directory](https://github.com/inveniosoftware/invenio-communities/blob/master/tests), and create a similar `test_models.py` file, where you test some basic use cases for your changes.

[2017-03-01 17:53] rahulyadav170923 commented on #480
@krzysztof i would like to work on it. Is there an order for preparing the tests you would prefer. Or should i start writing for the UI elements one by one.

[2017-03-01 18:03] krzysztof commented on #480
Currently our selenium tests are very limited: https://github.com/zenodo/zenodo/tree/master/tests/e2e :wink:

We don't have a preference but I guess it's good to start with some easy to test pages like the login page, registration, perhaps a multi-step registration form click-through etc. Then we'd want some of the "crucial" pages like the search results, record page with the previewed file etc.

[2017-03-01 18:08] krzysztof commented on #480
The final boss would be to test the deposit publishing from A to Z: creating a new deposit, publishing, editing it with a small change, then publishing again.

[2017-03-01 18:21] krzysztof commented on #946
Done in the docs, Zenodo.org changes in https://github.com/zenodo/zenodo/pull/968

[2017-03-01 22:07] satwikkansal commented on #969
@krzysztof I found that the serializer `datacite_31` is initialized in  `zenodo/modules/records/serializers/__init__.py`.

And there's an import in that file
[code]
But `invenio_records_rest` but it's not the part of zenodo repository. So where exactly should I make changes :sweat_smile:

[2017-03-01 22:45] ttgil95 opened #985 "docker: statsd error 'The super constructor "inherits" must not be null or undefined'"
Hello, I have been trying to use docker installation to install Zenodo but have been running into a few issues when doing so. When I try running the docker-compose up command, I receive the following errors:

statsd_1    | TypeError: The super constructor to "inherits" must not be null or undefined
statsd_1    |     at Object.exports.inherits (util.js:967:11)
statsd_1    |     at Object.<anonymous

[2017-03-02 00:27] kapilkd13 commented on #942
Hi @krzysztof  I have reproduced the issue.
I have some questions regarding the step 1 you mentioned "Proper validation of the submitted deposit data with regard to the fact that it's a deposit of an already published record."
should we completely disallow users to genrate DOI if record is already published.
Also can you explain little  bit about Validation that need to be done

[2017-03-02 04:17] AvaisP commented on #969
Hey @satwikkansal
I'm already working on this issue. If possible, please try working on another issue so that we don't end up putting in twice the amount of effort required in this issue. Thanks!

[2017-03-02 08:55] krzysztof commented on #969
True, the datacite serializer is not in Zenodo but in an invenio-records-rest. If the fix is to end up there, it's a PR to https://github.com/inveniosoftware/invenio-records-rest.
However, the ``DataCiteSchemaV1`` lives in Zenodo: https://github.com/zenodo/zenodo/blob/master/zenodo/modules/records/serializers/schemas/datacite.py
(Take a look at the constructor of the serializer: https://github.com

[2017-03-02 09:12] krzysztof commented on #931
Hey, this has already been fixed - we're migrating to a different documentation system.

Sorry about the confusion.

[2017-03-02 09:12] #931 closed

[2017-03-02 09:19] krzysztof commented on #935
MD previewing code: https://github.com/inveniosoftware/invenio-previewer/blob/master/invenio_previewer/extensions/mistune.py

[2017-03-02 09:24] krzysztof commented on #939
Should be fixed when this goes in: https://github.com/zenodo/zenodo/pull/968

[2017-03-02 09:49] satwikkansal commented on #974
@lnielsen I'd like to work on this issue. Should I integrate Travis into my fork or is it okay to create a PR and test on `zenodo` (origin) itself :)

[2017-03-02 09:53] krzysztof commented on #974
@satwikkansal better set up your own fork on travis, otherwise you'll be queued up a lot with zenodo PRs.

[2017-03-02 09:58] krzysztof commented on #985
@ttgil95 Did you have the newest master branch? Starting with this commit: https://github.com/zenodo/zenodo/commit/41d8a2507bbb3b562a3a9b94620b2284410812eb and following the updated installation guide, the docker installation should go smoothly.

[2017-03-02 11:37] jainaman224 commented on #935
I would like to work on this issue.

[2017-03-02 12:25] jainaman224 commented on #935
ö decodes to \xc3\xb6 and then rendered as \xc3 and \xb6 separately.

[2017-03-02 12:47] jainaman224 commented on #935
Error found: safe is causing this issue at https://github.com/inveniosoftware/invenio-previewer/blob/master/invenio_previewer/templates/invenio_previewer/mistune.html#L32.

[2017-03-02 13:23] ranjanam commented on #856
@krzysztof I would like to take up this issue.

[2017-03-02 14:38] krzysztof commented on #942
The rules for DOI editing are as follows:

When you first create a deposit, you can either:
a) provide you own DOI which you might already gotten from a publisher
b) opt-in for a Zenodo DOI either by leaving the DOI field empty, or clicking pre-reserve DOI, which is simply showing you what your DOI will be (end result is, that the DOI is 'zenodo' DOI which we generate for the user).

Now, if you c

[2017-03-02 14:42] krzysztof commented on #942
So in the problem description above at Step 3, it should not be possible to save an "empty" DOI, once the record has been published.

Second issue is that it should not be possible to Save an already published deposit (during editing), when the Zenodo DOI has been already registered.

[2017-03-02 16:52] jainaman224 commented on #964
@slint @krzysztof Please have a look at https://github.com/inveniosoftware/invenio-communities/pull/100.

[2017-03-02 17:47] rajat1994 commented on #985
@ttgil95 ... try running sudo docker-compose up
cheers :)

[2017-03-03 08:20] krzysztof commented on #985
Or better: http://askubuntu.com/questions/477551/how-can-i-use-docker-without-sudo

I'm not sure that was the problem though.

[2017-03-03 10:08] rajat1994 commented on #985
try installing docker-compose via pip  ...    pip install docker-compose
may be it can solve the issue

[2017-03-03 10:48] krzysztof opened #986 "deposit-ui: licenses suggestions need some tuning"
Finding "Creative Commons Zero - CC0 1.0" license is hard to find.

The following searches don't bring it up:

- "Zero"
- "CC0"

You can find it with "Creative Commons Zero", which is not the first thing people look for.

[2017-03-03 11:15] rajat1994 commented on #986
Can't we simply explain "Creative Commons Zero - CC0 1.0" in one or two lines  under the license section so that people don't need to search it?

[2017-03-03 11:32] rajat1994 commented on #481
@krzysztof ... i'd like to work on this issue..could you please tell which files do i need to look for?

[2017-03-03 15:11] meneguzzi commented on #289
This is not so rare, may I add. I'm having the exact same problem, but I don't seem to be able to disconnect Zenodo from Github. Perhaps this is because I have releases archived already. I'm at a loss about what to do to force Zenodo to refersh the organisations I'm a part of.

[2017-03-03 15:13] meneguzzi commented on #289
As an addendum, it seems the problem is with forcing Zenodo to ask for authorization to the organizations I own, so this may be a shared Github/Zenodo issue, since there is no way to manually add Third party authorizations to an organization.

[2017-03-03 15:40] krzysztof commented on #481
This involves first getting familiar with the Zenodo metadata model, which is described (and validated) using JSON Schema, here: https://github.com/zenodo/zenodo/blob/master/zenodo/modules/records/jsonschemas/records/record-v1.0.0.json

This model describes structure and some required fields for Record's metadata.

This schema is just for the record (*record* is sometimes referred to as *published

[2017-03-03 17:43] satwikkansal commented on #957
I tried to reproduce the error you're facing but I can't. For me it works as expected.

[2017-03-03 17:53] rahulyadav170923 commented on #480
@krzysztof @slint i have started working on it but cannot contribute before 10 March. due to my exams so if anyone want to work on it . It is free as of now.

[2017-03-03 20:41] rajat1994 commented on #481
@krzysztof ..... i have validated some of the parameters of Deposit schema. Could you please check?
Link of gist :  https://gist.github.com/rajat1994/be2dea187460b2ed621419d55ca7bae4

[2017-03-04 07:06] shark-S commented on #557
I like to work on this issue. Can you explain a little more?

[2017-03-04 17:35] krzysztof commented on #480
@rahulyadav170923 No worries, thanks a lot for freeing it for others! :+1:

[2017-03-05 16:05] krzysztof commented on #481
Hey @rajat1994,

That would be the general idea for task, however:

1) You don't have to define your own schema - Zenodo already has some defined as I mentioned above.
2) Instead of using "validate" from jsonschemas, use the Record.create method to create. Internally the metadata will be validated according to the schema referred-to by the '$schema' value. The test should look like the ``test_mini

[2017-03-06 11:02] krzysztof commented on #985
I guess the issue has been resolved? Reopen if still experiencing this error.

[2017-03-06 11:08] krzysztof commented on #557
@shark-S You'll need to take a close look at the ZIP format previewer in the ``invenio-previewer`` extensions here: https://github.com/inveniosoftware/invenio-previewer/tree/master/invenio_previewer/extensions and see how it works in Zenodo (and also the whole invenio-previewer module).

Then create something similar to ZIP previewer for another format. I am not sure which of the ones above would

[2017-03-06 11:58] #959 closed

[2017-03-06 20:37] ttgil95 commented on #985
I've tried running sudo docker-compose up and I'm still getting the same errors. Also, I do have the newest master branch. Not sure where to go from here

[2017-03-06 21:55] rajat1994 commented on #985
@ttgil95 ...you should check the troubleshooting guide.
https://github.com/zenodo/zenodo/wiki/Troubleshooting

[2017-03-07 04:35] kishansag commented on #480
@krzysztof Since Rahul is busy I would like to start working on this one.

[2017-03-07 09:03] krzysztof commented on #480
@kishansag :+1:

[2017-03-07 09:04] krzysztof commented on #985
@ttgil95 Also it seems that it's the full-stack installation that's crashing. Can you please try to move to the Developer installation (run only four nodes using docker)

[2017-03-07 10:57] myrmoteras opened #991 "write access to deposition that have been added to BLR"
in our workflow we extract facts from documents that are deposited at Zenodo and are part of the Biodiversity Literature Community, deposit them on Zenodo or our TreatmentBank and then add those related identifiers to the source document. These documents are either uploaded through our BLR account, or then asked to be included in the BLR community.

In the latter case, we cannot add additional lin

[2017-03-07 11:44] jainaman224 commented on #901
Can I try to add this enhancement...?

[2017-03-07 11:55] jainaman224 commented on #942
@kapilkd13 Are you working on this...?

[2017-03-07 13:52] krzysztof commented on #901
@jainaman224 Yes, that would actually be of huge help to our support :)

The main idea is that many people contact us (zenodo.org - the service), about common problems, which are usually:
- Removing a record, updating a file to a record somewhere
- Doing something with their account
- Getting some error on a page

Very often they don't include much info (such as the mentioned OS, browser), and ver

[2017-03-07 13:54] krzysztof commented on #901
This form should probably send us an email, where bottom part of the email body can include a pre-formatted string with this information.

[2017-03-07 13:57] krzysztof commented on #964
The PR has been merged: https://github.com/inveniosoftware/invenio-communities/pull/100

invenio-communities release and integration is still needed.

[2017-03-07 14:22] krzysztof commented on #929
This task can be broken down into several simpler steps. First part of this ticket could be to write a simple function which takes a file object, checks it it's a ZIP and then returns True/False if __MACOSX or .DS_Store are present in the files (nested).

Then this could be hooked to form to display a warning next to the uploaded file.

[2017-03-07 16:27] jainaman224 commented on #901
Do I need to implement this form https://zenodo.org/support ...?

[2017-03-07 16:43] krzysztof commented on #901
The current "/support" page is just static info without any form - it should stay like this for now.

You would need to create a new page (under e.g.: "/support-form"), where you would define some simple contact form similar to GitHubs: https://github.com/support

Here's an example of a form in Zenodo (this particular one is for deleting records by admin):

Template:
https://github.com/zenodo/zeno

[2017-03-07 16:45] jainaman224 commented on #901
Thank you :+1: .

[2017-03-07 18:35] kapilkd13 commented on #942
Not right now, Please go for it.:)

[2017-03-07 19:45] stef42530 commented on #915
I agree.
*How to do ?*

https://zenodo.org/policies [Policies](https://zenodo.org/policies)

Datacite?
datacite statistics are only for DATA centers
Try this example:
https://search.datacite.org/ui?q=*&fq=has_metadata%3Atrue&fq=is_active%3Atrue&fq=prefix%3A%2210.5281%22&

[2017-03-07 21:10] lnielsen commented on #915
Download statistics is high on our priority list. Right now we're focusing on versioning to be launched by end-March. We haven't planned for Q2 yet, but the big new feature will likely be either statistics or community teams for Q2. We are co-developing most features with our sister services here at CERN for @inveniosoftware and stats is also high on their list, but can't say anything for sure yet

[2017-03-08 08:08] krzysztof commented on #985
@ttgil95 Were you able to run Zenodo on docker?

[2017-03-08 08:19] krzysztof opened #996 "docker: "pkg_resources.DistributionNotFound: The 'zenodo' distribution was not found and is required by the application""
During:

``sudo docker-compose run --rm web bash /code/zenodo/scripts/init.sh``

an error occurs:
[code]

[2017-03-08 08:23] krzysztof commented on #996
@cafexpreso I know you had this error. This could be to failing "static" node which is mounting the code: https://github.com/zenodo/zenodo/blob/e4b95be8002801606c26cf754473cdfe92698d77/docker-compose.yml#L132

when you run ``docker-compose up`` in a separate shell, does "static" node throw you any errors?
You can also try to run only this one ``docker-compose up static`` to see better.

Otherwise

[2017-03-08 12:28] christofs commented on #915
Thank you for the feedback. I'm hoping you can include it for Q2.

[2017-03-08 14:34] cafexpreso commented on #996
Did try and not work,
 sudo docker-compose up static
Creating zenodo_static_1
Attaching to zenodo_static_1
static_1    | tail: error reading ‘/var/log/apt’: Is a directory
static_1    | tail: /var/log/apt: cannot follow end of this type of file; giving up on this name
static_1    | ==> /var/log/alternatives.log <==
static_1    | update-alternatives 2017-03-07 17:06:34: run with --install /usr/bin/

[2017-03-08 14:35] cafexpreso commented on #996
If try again
 sudo docker-compose run --rm web bash /code/zenodo/scripts/init.sh
Traceback (most recent call last):
  File "/usr/local/bin/zenodo", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/local/lib/python3.5/site-packages/pkg_resources/__init__.py", line 3036, in <module>
    @_call_aside
  File "/usr/local/lib/python3.5/site-packages/pkg_resources/__init__.

[2017-03-08 14:54] rajat1994 commented on #996
@cafexpreso .... were you able to build succesfully?

[2017-03-08 15:06] slint opened #997 "serializers: BibTex escape special characters"
Current BibTex export is not escaping special characters such as ampersands ("&"), causing trouble in applications that use LaTeX. Example record: https://zenodo.org/record/345946/export/hx.

A list/sepcification of these special characters should be found and escaped during serialization using backslashes (eg. `{ Some subject \& another subject }` ). More information can be found in [this SO thre

[2017-03-08 15:25] slint opened #998 "communities: missing creator from search results"
In the [Communities search page](https://zenodo.org/communities/), the username of the Community curator is not displayed next to the "Curated by":
![comm_bug](https://cloud.githubusercontent.com/assets/1814661/23709982/771b95ca-041b-11e7-82ea-ac705b0fee9f.png)

Probably a small issue with the Community search results template.

[2017-03-08 15:30] cafexpreso commented on #996
yes

[2017-03-08 15:39] krzysztof commented on #480
Some examples of E2E tests from Invenio-Accounts module:

https://github.com/inveniosoftware/invenio-accounts/blob/master/tests/e2e/e2e_basic_test.py

login and registration is already there, we should "borrow" it as to make sure it still works with Zenodo's overlay/theme

[2017-03-08 15:48] cafexpreso commented on #996
Context, I have a development distributed installation of Zenodo3 which seems to be running ok.
Now I am trying the docker install as eventually we would like to go to a production environment. This is the one I am referring on this thread.
I do not use docker and the OS is RHEL7,

[root@invtest06 zenodo]# rpm -qa |grep docker
docker-client-1.12.6-11.el7.x86_64
docker-common-1.12.6-11.el7.x86_64
d

[2017-03-08 17:58] krzysztof commented on #901
Another nice feature would be to include a Radio button on the form, where user can select a category of the issue, e.g.:

Technical Support, Zenodo Policies, Outreach, Other (categories to be defined later).

This info could go as a prefix to the sent email:

"[Technical Support]: The rest of the title"

[2017-03-08 18:05] jainaman224 commented on #998
I think we need to change https://github.com/inveniosoftware/invenio-communities/blob/master/invenio_communities/templates/invenio_communities/index.html#L112

[2017-03-08 18:06] jainaman224 commented on #901
It would be great. :+1:

[2017-03-08 18:26] slint commented on #790
Apparently [this sorting config line](https://github.com/zenodo/zenodo/blob/master/zenodo/config.py#L654) should become:

[code]

I think `:asc` and `:desc` will only work for [query-string calls to ES](https://www.elastic.co/guide/en/elasticsearch/guide/current/_sorting.html#_multilevel_sorting)

The `meeting` key (no `s` in the end) also seems to be wrong in various other places as well.

[2017-03-08 20:40] lnielsen commented on #901
For user-agent parsing use https://github.com/ua-parser/uap-python

A user should see be able to see what information is sent to us (and probably be able to opt-out)

[2017-03-09 08:07] jainaman224 commented on #790
I would like to work on this issue.

[2017-03-09 08:49] krzysztof commented on #790
@jainaman224 :+1:

[2017-03-09 10:08] rajat1994 commented on #856
@krzysztof ... i would like to work on this issue if ranjanam is not working on it.

[2017-03-09 10:19] krzysztof commented on #856
@rajat1994 I guess you can start taking a look
@ranjanam are you actively working on this?

[2017-03-09 10:58] slint opened #1000 "oauth2server: authorize reidrect_uri not respected after ORCID login"
Prerequisites:

- Zenodo Developer Application from external service "XYZ"
- Random User "Randy" that has:
  - Account in Zenodo using his ORCID
  - Account in XYZ
- Randy is not logged-in in any service (no session in any website)

Scenario:

1. Randy is logged-in to XYZ and wants to use the Zenodo integration that XYZ offers
2. In order to proceed he has to be authorized at Zenodo
3. XYZ sends R

[2017-03-09 12:40] slint commented on #1000
Relevant ticket: https://zenodo.uservoice.com/admin/tickets/161654/

[2017-03-09 14:21] rusrushal13 opened #1001 "Traceback error in docker-compose"
I am constantly getting traceback error for docker-compose up
https://gist.github.com/rusrushal13/ef25121346c8e88e845841e4d4b20d00
Can anybody help me regarding this?

[2017-03-09 14:25] krzysztof commented on #1001
Try this: https://github.com/ipython/ipython/issues/5911

[2017-03-09 14:27] rusrushal13 commented on #1001
It is already there.
`Requirement already satisfied: backports.ssl_match_hostname in /usr/local/lib/python2.7/dist-packages`

[2017-03-09 14:31] rajat1994 commented on #1001
did you install tornado?.....  @rusrushal13

[2017-03-09 14:32] rusrushal13 commented on #1001
@rajat1994 Is it required?

[2017-03-09 14:33] rajat1994 commented on #1001
you can try...  install it  in your virtualenv

[2017-03-09 14:34] rusrushal13 commented on #1001
installing it globally doesn't help out.

[2017-03-09 14:38] rajat1994 commented on #1001
@rusrushal13 .... try uninstalling and installing it again  " backports.ssl_match_hostname"  ... like you did the last time with your other packages.

[2017-03-09 14:40] rusrushal13 commented on #1001
It worked. :+1:
Thanks @rajat1994

[2017-03-09 14:41] krzysztof commented on #1001
How did you install docker-compose ? with pip? can you reinstall it? it looks like a missing dependency (probably due to previous ``uninstall`` command I have suggested to you ;p )

[2017-03-09 14:41] #1001 closed

[2017-03-09 16:14] rusrushal13 commented on #998
Is this issue is still open?

[2017-03-09 18:40] ranjanam commented on #856
@krzysztof Yes. I am working on this.

[2017-03-09 23:57] rusrushal13 commented on #974
#1005

[2017-03-10 04:55] sm86 commented on #43
Is this issue still open?

[2017-03-10 05:00] sm86 commented on #150
I think you can close this issue. Is there anything need to be worked upon!

[2017-03-10 09:46] jainaman224 commented on #998
@rusrushal13 It is already fixed.

[2017-03-10 11:19] jainaman224 commented on #901
@lnielsen Can I include it later once a basic structure is approved...?

[2017-03-10 13:09] krzysztof opened #1010 "records-ui: add a simple "contact the author" button with contact form to the owner of the record."
Currently it's not easy to contact the owner of the record because we don't expose user emails.
We can however allow for contacting them through us and send them an email from the users.

It should be possible to opt-out of this (bool in the userprofile model).

[2017-03-10 13:45] vedantrathore commented on #997
@slint I'd like to tackle this, so I need to find the serializer and escape the "&" right?

[2017-03-10 13:48] krzysztof commented on #901
Apart from some general fixes the PR by @jainaman224 already looks really cool! https://github.com/zenodo/zenodo/pull/1008

To make this feature production-ready some further changes are required:

- [ ] There should be two variants of the form.
 - If you are logged-in, it should pre-fill and display:
    - ``Name`` (pre-filled text-field with user's full name - editable by user)
    - ``Email`` (

[2017-03-10 13:54] slint commented on #997
@vedantrathore Yes, you should take a look at the [BibTex serializer](https://github.com/zenodo/zenodo/blob/master/zenodo/modules/records/serializers/bibtex.py). Try also to do some investigation and find more special characters that BibTex doesn't play along with (a lot of people use LaTeX editors/compilers that throw errors about certain characters). If possible provide a solution that allows th

[2017-03-10 14:16] krzysztof commented on #1010
It's not exactly a one-liner low-hanging-fruit, but it's not very complicated either.

[2017-03-10 14:18] krzysztof commented on #996
@cafexpreso Can this be closed?

[2017-03-10 14:30] krzysztof commented on #998
It has been fixed. It requires Invenio-Communities version bump on Zenodo.

[2017-03-10 14:31] krzysztof commented on #856
@ranjanam I guess word wrap would be better.

[2017-03-10 14:39] krzysztof commented on #43
It needs rephrasing as it's an old Issue from the old Zenodo system most of stuff pre mid-2015 are usually referring to completely another codebase, which we have replaced in 2015 and 2016.

What this could now refer to is that the community search results: https://zenodo.org/communities/biosyslit/?page=1&size=20

Do not provide the same filtering/faceting features as general search: https://zenod

[2017-03-10 14:40] jainaman224 commented on #942
I am currently working on another issue. If anyone else wants to complete go for it.

[2017-03-10 14:41] cafexpreso commented on #996
Hi

I have not try this again. I am suspecting that is the docker layer that is
contributing with this problem.

Please close this ticket, I will reopen if needed.

All the best,
Carlos

On Fri, Mar 10, 2017 at 9:18 AM, Krzysztof Nowak <notifications@github.com>
wrote:

[2017-03-10 14:49] krzysztof commented on #150
@sm86 Hey, this will require checking against our FAQ (help.zenodo.org) to see if it's still relevant, but it's not a good GSoC task.

[2017-03-10 15:01] krzysztof commented on #1010
The email should also provide a link to opt-out of this system, and it should not be rendered if the user already opted-out.

[2017-03-10 15:02] krzysztof commented on #1010
We could require to include recaptcha for each message (even for logged-in users), since a spammer with an account could ruin someone's inbox.

[2017-03-10 15:27] vedantrathore commented on #997
@slint I was thinking of adding this method to Bibtex serializer, what do you think?

[code]

[2017-03-10 22:02] vedantrathore commented on #1010
I'd like to work on this, any starters?

[2017-03-11 13:43] rusrushal13 commented on #974
@lnielsen @krzysztof As es 2.x version doesn't support ingest attachment plugin so is it necessary to do include it?

[2017-03-11 16:30] rajat1994 commented on #557
@shark-S .... are you still working on this issue?.. If not, i would like to work on it.

[2017-03-12 14:57] amarlearning commented on #480
@krzysztof Anyone working on this ?

[2017-03-12 15:01] rajat1994 commented on #480
@amarlearning ... yup

[2017-03-12 19:46] kishansag commented on #480
yup

[2017-03-13 10:32] krzysztof commented on #1010
Hey, this task is technically very similar to the Zenodo contact form feature, currently being implemented by another student.

Take a look at description here: https://github.com/zenodo/zenodo/issues/901
And the work in progress PR: https://github.com/zenodo/zenodo/pull/1008

There you will find some pointers on how to define a form/view/template etc.

As for this task:

The button should be on e

[2017-03-13 10:42] krzysztof commented on #1010
And to clarify - we use this form since we don't want to expose user's emails, but we still want to offer some way to contact the uploader of the record. Hence, this view should send the email to the original uploader through Zenodo, and offer him a way to further directly respond to the uploader.

For production ready feature, this requires extra care of preventing spammers from hammering a lot o

[2017-03-13 11:58] rusrushal13 commented on #929
I want to get started with it, can I work on it?

[2017-03-13 13:22] krzysztof commented on #480
@amarlearning Yes, but there are many UI tests to be done though, so if you coordinate with other students (I'd suggest), you can select some UI pages which are not tested. Some of the static pages are being tested, but AFAIK search is not. Take a look at currently work in progress "selenium" PRs:
https://github.com/zenodo/zenodo/pulls

[2017-03-13 13:27] krzysztof commented on #929
@rusrushal13 Sure :+1:

Best to start with a simple function which can detect if ZIP file contains any of those files inside (also in nested structures, not only root).

[2017-03-13 18:08] cafexpreso opened #1014 "Internal server error, while trying to upload a file into Zenodo 3"
Mar 13 14:01:24 invtest01 zenodo: [2017-03-13 14:01:24,934] ERROR in app: Exception on /deposit/depositions/45467/actions/publish [POST]
Mar 13 14:01:24 invtest01 zenodo: Traceback (most recent call last):
Mar 13 14:01:24 invtest01 zenodo: File "/opt/.virtualenv/zenodo/lib/python2.7/site-packages/flask/app.py", line 1988, in wsgi_app
Mar 13 14:01:24 invtest01 zenodo: response = self.full_dispatch_

[2017-03-13 18:10] krzysztof commented on #1014
Are you requesting for the record to be added to any communities?
What metadata are you entering?

[2017-03-13 18:19] cafexpreso commented on #1014
Yes. I could do this before. It is just a txt file, basic metadata
information, open access, CC-0 a test community definition.

On Mon, Mar 13, 2017 at 2:10 PM, Krzysztof Nowak <notifications@github.com>
wrote:

[2017-03-13 18:37] krzysztof commented on #848
I am seeing regular emails from users either discovering it post-factum or surprised that the files are frozen once the DOI is minted.

[2017-03-13 18:37] cafexpreso commented on #1014
Hi

I got the mail to curate the upload but this do no appear into the community curation page

[2017-03-13 18:42] krzysztof commented on #848
On first publishing of the deposit (and only first one, see how the button "Delete" "Discard changes" in top left are rendered), display a boostrap modal with some placeholder text and "I understand" button which continues with the publishing process.

See boostrap modal in cation: http://getbootstrap.com/javascript/#live-demo

[2017-03-13 18:45] krzysztof commented on #1010
Extra feature:

See if the form could be rendered inside a bootstrap modal: http://getbootstrap.com/javascript/#live-demo
This way the user can stay on the record page.

[2017-03-13 18:48] cafexpreso commented on #1014
This started  to happen after deletion of Zenodo community

[2017-03-13 18:54] cafexpreso commented on #1014
Actually I can upload the file but I cannot publish it. It comes with internal server error.

[2017-03-13 20:04] cafexpreso commented on #1014
From elk I can see this type of errors
[indices:data/read/search[phase/query]]]; nested: SearchParseException[failed to parse search source [{"sort": [{"_created": {"order": "desc"}}], "query": {"bool": {"filter": [{"terms": {"communities": ["carloscomm"]}}]}}, "from": 0, "aggs": {"keywords": {"terms": {"field": "keywords"}}, "file_type": {"terms": {"field": "filetype"}}, "type": {"terms": {"field

[2017-03-13 20:35] rusrushal13 commented on #929
@krzysztof Okay I am done with the function using the zipfile module of python
and checking the filenames. One thing I want to know is that what does nested structures meant?

[2017-03-14 08:43] krzysztof commented on #1014
You will have to change those two config values to empty dictionaries if you remove the communities:

https://github.com/zenodo/zenodo/blob/master/zenodo/modules/deposit/config.py#L37-L40

[2017-03-14 08:43] #1014 closed

[2017-03-14 08:44] krzysztof commented on #929
Nested structure simply means looking for those files within subdirectories, not only root

[2017-03-14 11:35] rusrushal13 commented on #974
@krzysztof @lnielsen @slint As installing V5.x is giving problems too, so can you suggest any other alternative in order to get it done.

[2017-03-14 12:33] cafexpreso commented on #1014
Ok thank you I will try this

On Tue, Mar 14, 2017 at 4:43 AM, Krzysztof Nowak <notifications@github.com>
wrote:

[2017-03-14 12:44] cafexpreso opened #1016 "search: ES reindexing is failing"
I want to use a different elasticsearh backend, I have issue the following commands to repopulate the new backend and it seems not to be working see the attached celery log
 zenodo index reindex
 zenodo index run -c 4 -d

 zenodo index reindex
/opt/.virtualenv/zenodo/lib/python2.7/site-packages/dojson/contrib/to_marc21/model.py:22: UserWarning: MARC21 undo feature is experimental
  warnings.warn('

[2017-03-14 12:58] cafexpreso commented on #1016
Do I have to load again the zenodo fixtures init after reindex?

[2017-03-14 13:03] krzysztof commented on #1016
Are you pointing to the new ES backend? https://github.com/zenodo/zenodo/blob/master/docker-compose.yml#L57

Also, you will have to init the ES first: https://github.com/zenodo/zenodo/blob/master/scripts/init.sh#L26-L27

[2017-03-14 13:11] cafexpreso commented on #1016
Hi
Yes I can confirm I can connect to the new elk instance
I had run the steps you mentioned below find the result

[init index.txt](https://github.com/zenodo/zenodo/files/841372/init.index.txt)

[2017-03-14 13:13] krzysztof commented on #1016
Something is indexed there already, can you try ``zenodo index destroy --force`` and then init again?

[2017-03-14 13:59] cafexpreso commented on #1016
Now it is better but still there is a problem showed in celery

[reindex after destroy.txt](https://github.com/zenodo/zenodo/files/841503/reindex.after.destroy.txt)

[2017-03-14 14:01] cafexpreso commented on #1016
This is the error, does it mean that this record 9ea0672-0c89-4ad1-b596-b8b5e08c774d is corrupted?

How can I check it

`[2017-03-14 09:57:00,988: WARNING/Worker-4] [2017-03-14 09:57:00,988] ERROR in api: Failed to index record a9ea0672-0c89-4ad1-b596-b8b5e08c774d
Traceback (most recent call last):
  File "/opt/.virtualenv/zenodo/lib/python2.7/site-packages/invenio_indexer/api.py", line 245, in _a

[2017-03-14 14:08] cafexpreso opened #1017 "mail is not sent to the curator of the community"
Dear all,

I have set the environmental variables in the zenodo.cfg
COMMUNITIES_REQUEST_EMAIL_SENDER='info@essda.bnl.gov'
SUPPORT_EMAIL = 'info@essda.bnl.gov'
SECURITY_EMAIL_SENDER='info@essda.bnl.gov'

Zenodo is not sending properly the email to the curator of the community.
Is there any other configuration parameter needed in order to do so?

Note that celery logs this:

From: info@essda.bnl.gov

[2017-03-14 14:48] krzysztof opened #1018 "github: display username or userID of the person currently holding the webhook."
Some users are finding it difficult to to find who is currently "owning" the repository on GitHub in their organization.
Perhaps we should display the username of the current holder?

[2017-03-14 14:53] cafexpreso commented on #1017
Ok I have to set this variable
MAIL_SUPPRESS_SEND = False

[2017-03-14 14:53] #1017 closed

[2017-03-14 15:02] cafexpreso opened #1019 "DataCiteUnauthorizedError(u'Bad credentials',)"
Hello,

I am observing this from celery logs is there any special operation to purge or complete this operation?

`<2017-03-14 10:51:48,086: INFO/MainProcess] Task invenio_indexer.tasks.index_record[94efc5d8-7beb-4812-9eee-8f8e5f81001c] succeeded in 0.0561410720038s: None
[2017-03-14 10:57:07,585: INFO/Worker-3] Deleted PID.
[2017-03-14 10:57:08,313: ERROR/Worker-3] Failed to delete in DataCite
Tr

[2017-03-14 15:22] #875 closed

[2017-03-14 15:53] krzysztof commented on #1019
This means that you are unauthorized to get a DOI from DataCite.
Do you need to mint DOIs?

To turn it off you would need to not register this signal: https://github.com/zenodo/zenodo/blob/fb2fb960e2719b062655125d9bcb06d3ac2a70a6/zenodo/modules/deposit/ext.py#L62

[2017-03-14 15:53] krzysztof commented on #1019
or set this to false: https://github.com/zenodo/zenodo/blob/fb2fb960e2719b062655125d9bcb06d3ac2a70a6/zenodo/modules/deposit/receivers.py#L38

[2017-03-14 16:20] cafexpreso commented on #1019
How about if the user has its own DOI

[2017-03-14 16:28] krzysztof commented on #1019
Then they can provide it in the form as usual. This is only if you mint one for them if they don't have one.

In Zenodo we assume the DOI is there (either specified by user, or minted by us). If you don't want to mint yourself, you need to enforce that users provides one on the form.

[2017-03-14 16:35] cafexpreso commented on #1019
Mint means formatting this

[2017-03-14 20:41] rajat1994 commented on #557
@krzysztof .... do we have to create a whole zenodo previewer for this one like invenio previewer?

[2017-03-15 08:09] rd93 commented on #792
I would like to work on this. Any starters?

[2017-03-15 08:49] krzysztof commented on #557
@rajat1994 Yes, it should be a new extension file like this: https://github.com/inveniosoftware/invenio-previewer/blob/master/invenio_previewer/extensions/zip.py

[2017-03-15 08:51] krzysztof commented on #557
It should be a PR to Invenio module. Here's a guide on how to checkout Invenio module locally: http://zenodo.readthedocs.io/en/latest/development/guide.html

So test with Zenodo, but push all the code to invenio-previewer extensions

[2017-03-15 08:58] krzysztof commented on #792
Hey @rd93

This issue is somewhat similar to another Issue that closed recently:
https://github.com/zenodo/zenodo/pull/984 (and see my comment on Serializers and Schemas here:https://github.com/zenodo/zenodo/pull/984#issuecomment-283659698)

That one was about CiteProc serializer, not DublinCore, but it's similar functionality, i.e. serialization of record to some predefined format.

For DublinCor

[2017-03-15 15:53] cafexpreso commented on #1019
Ok the errors disappeared after applying the change suggested.
Thank you!

[2017-03-15 15:53] #1019 closed

[2017-03-16 07:12] jainaman224 commented on #901
@lnielsen @krzysztof I think we don't need much information from user. So, going this way would be better https://github.com/jainaman224/zenodo/blob/patch-1/zenodo/modules/pages/views.py#L57#L60. Please correct me if I am wrong.
Thank you

[2017-03-16 15:08] slint commented on #1018
The only issue I see with that is that we'll have to perform a separate db query to RemoteAccounts to get the GitHub username of the repo's owner from `extra_data`:
[code]

Maybe this is optimizable though with some custom join inside the view function...
A viable alternative is to "cache" the owner of the repo hook in `extra_data` as part of syncing, thus doing all the heavy work "on demand" only

[2017-03-17 09:34] lnielsen opened #1021 "global: footer menu update (about + status)"
We should add https://status.zenodo.org in the lower right corner next to privacy policy.

Also the about menu I think should be updated:

About
General Policies
Infrastructure
Principles
Contact

[2017-03-17 10:08] rusrushal13 commented on #1021
@lnielsen I want to start with this issue. Can you guide me to the modules which one should I change?

[2017-03-17 11:55] krzysztof commented on #1021
Hey @rusrushal13

All changes should go here:
https://github.com/zenodo/zenodo/blob/master/zenodo/modules/theme/templates/zenodo_theme/footer.html

The "About" sublinks that Lars mentions are here: http://about.zenodo.org/

[2017-03-17 16:41] rusrushal13 commented on #1021
@krzysztof #1022 please review it.

[2017-03-21 09:30] dosydon commented on #855
Hi. I'm interested in working on this issue. Adding "venue" keys seems easy. I believe we just need to add "_get_place(self)" function to Bibtex class (from bibtex.py) and edit other related parts like "_fetch_fields" function.

As for adding descriptions to "howpublish/note" field, having "@inproceedings" entries with something like "Proceedings of nth Conference on ..." as "booktitle"  sounds mu

[2017-03-22 07:50] krzysztof commented on #855
@dosydon Yes, the "venue" is straightforward to add (although it should be ``_get_venue``).

The howpublish/note field was meant to distinguish between conference papers and conference posters (at the moment there is no clear way on how to do it in bibtex, even though our deposits can be of type "Poster").

The idea was to include "howpublished" with a value such as "Poster presentation at {locati

[2017-03-22 13:59] daas-ankur-shukla commented on #997
@krzysztof i want to work on this. may i start?

[2017-03-22 14:07] guptavaibhav18197 commented on #961
@krzysztof I would like to go about fixing this issue. can you please provide more information about what kind of problem

[2017-03-22 14:11] slint commented on #997
@vedantrathore Do you have a work-in-progress PR or a branch for this issue? I can't recall if we ever addressed your question in private or as a comment in a PR/commit.

[2017-03-22 14:13] guptavaibhav18197 commented on #961
@krzysztof I would like to go about fixing this issue. Can you please provide some more information about what kind of problem are they facing and how can I reproduce the same?

[2017-03-22 15:00] krzysztof commented on #961
@guptavaibhav18197

Hey, at the moment if you username contains a dot (e.g.: "john.doe"), you will have an error when trying to log-in to Zenodo. Right now it's not possible to create a username with a dots anymore because at some point we added this to username validation, but some of the old usernames which were created before do contain dots - to reproduce this you will need to do a raw SQL UPD

[2017-03-22 18:37] mohtamohit commented on #911
Hello everyone, I would be glad to work on this. I've a good experience in full stack web development and I would like to work on this under the umbrella of GSoC 17. Is it okay if I start working on this after I'm done with submitting my proposal on the GSoC website?
Meanwhile, you may review my profile at https://docs.google.com/document/d/1QwQP37iEl2qfiQ6qkx2Pzheg3IQXpXK6IercuSKAgJs/edit?usp=sha

[2017-03-23 03:49] dosydon opened #1027 "search: no mapping found for [_created] in order to sort on"
# Problem
I'm having a problem installing zenodo for development. I've followed this instruction (http://zenodo.readthedocs.io/en/latest/installation.html#development-installation). I also checked out the troubleshooting page (https://github.com/zenodo/zenodo/wiki/Troubleshooting), but my issue doesn't seem to be addressed.

My installation worked fine initially, but I started getting the followin

[2017-03-23 06:22] kishansag opened #1028 "Internal server Error"
I am getting internal server error on running this [test](https://gist.github.com/kishansag/d36a56422639310956da90f013730b25).
Error displayed can be seen over [here](https://gist.github.com/kishansag/46e4a5e33656d7cf04ada45412ca2493)
If you can replicate the error please let me know

![screenshot from 2017-03-23 11-50-02](https://cloud.githubusercontent.com/assets/10185999/24234536/e6cac112-0fbe-

[2017-03-23 08:35] krzysztof commented on #1027
Is this showing on the frontpage only or also on search results?

This looks like an issue with ES index/mapping, what usually works is to recreate the index:
``zenodo index destroy --force``
``zenodo index init``
``zenodo migration reindex -t recid``
``zenodo migration reindex -t od_lic``
``zenodo index run``

Recreating docker containers would actually solve that as well, but I guess by recreate

[2017-03-23 11:40] kishansag commented on #1010
I would like to work on this

[2017-03-23 11:55] krzysztof commented on #1010
@vedantrathore Did you start to write any code on this?

[2017-03-23 12:18] guptavaibhav18197 commented on #961
@krzysztof  Sir I created a user with username (“gupta.vaibhav”) by relaxing the constrains on username validation and then reverted the constrains. After that I was able to login without any issues using my - - [email, password] pair!
Did you mean that they were providing [username(containing dot), password] pair for validation?

[2017-03-23 15:04] vedantrathore commented on #1010
@krzysztof sorry about the delay, my midsemester exams were just finished 2 days ago. Yes I have written some code in it and will push today. :)

[2017-03-23 16:59] vedantrathore commented on #997
@slint I have updated code in my local machine but I needed your validation on that method so never pushed it, actually my mid semester exams were finished 2 days ago so couldn't do it yet. can you please check if that method I posted will do the job? thanks :)

[2017-03-23 18:54] guptavaibhav18197 commented on #961
@krzysztof Sir as far as I checked(in login form validation) we can login only via [email, password] pair and doing so, its working fine on my system.

[2017-03-23 18:56] guptavaibhav18197 commented on #961
@krzysztof  Sir as far as I checked(in login form validation) we can login only via [email, password] pair and doing so, its working fine on my system(even with the usernames having dot in them).

[2017-03-24 03:53] dosydon commented on #1027
@krzysztof  Thanks for your response, but I'm still getting the same error message after recreating the index (the results are now displayed ok somehow, though).

As I look into this problem in more detail, I noticed that the current head of the master branch (https://github.com/zenodo/zenodo/commit/5f00017757d3f2fa3e942f9c49cc636f66e7a35a) also gave the same error when running on Travis (https://

[2017-03-24 07:33] jrios6 commented on #848
I would like to work on this enhancement :)

[2017-03-24 07:55] jrios6 commented on #848
Just to confirm that the modal is suppose to popup when the publish button is pressed for the first publish right?

[2017-03-24 09:16] krzysztof commented on #1027
I guess the frontpage is sorting by the created date and failing due to ES mapping.

It's a bug that needs to be fixed, thank you for reporting this.

[2017-03-24 09:27] dosydon commented on #855
@krzysztof  For a starter, I made a PR that adds "venue" field to @inproceeding (https://github.com/zenodo/zenodo/pull/1031).
I'll work on the second issue after I get used to the workflow with the first PR.

[2017-03-24 09:35] dosydon commented on #1027
I guess I messed up with my installation at first, but the error message I got was due to a different bug. I renamed the issue so someone can fix this later.

[2017-03-24 09:37] slint commented on #848
@jrios6 Yes, this is correct. You are probably going to need to include this in this [actions.html](https://github.com/zenodo/zenodo/blob/master/zenodo/modules/deposit/static/templates/zenodo_deposit/actions.html) template. To determine inside the template if a deposit is already published you can use the [`recordsVM.invenioRecordsArgs.templateParams.is_published` key](https://github.com/zenodo/ze

[2017-03-24 12:08] jrios6 commented on #848
@slint Thanks, will get started on it!

[2017-03-24 14:35] DeadlyHollows commented on #935
Is this issue is still open?

[2017-03-24 14:39] DeadlyHollows commented on #480
Can I also contribute with you guys if there is room?

[2017-03-24 15:20] fungs commented on #935
@DeadlyHollows the entry I reported still looks the same, so I guess it is.

[2017-03-24 15:23] jainaman224 commented on #935
@DeadlyHollows This issue is related to `invenio-previewer` and closed but suggestions are welcomed.
@fungs This still looks same because till the next release we are not updating the api dependencies.

[2017-03-24 15:35] rajat1994 commented on #1028
@kishansag ... use ipdb to debug your code

[2017-03-24 17:19] kishansag commented on #480
@DeadlyHollows Sure man. I was getting errors in travis checks, so have stopped working on this. You can start with login or registrations.
If you want to use my code you can find it here https://github.com/kishansag/zenodo/tree/testing/tests/e2e
or you can also borrow code from https://github.com/inveniosoftware/invenio-accounts/blob/master/tests/e2e/e2e_basic_test.py

[2017-03-24 17:40] harshithmullapudi commented on #1010
@krzysztof Hey can just check this harshith.pe.hu/zenodo/

[2017-03-24 19:23] harshithmullapudi commented on #1010
Let me know if you want more additions in this

[2017-03-25 05:31] harshithmullapudi commented on #1000
Where can i find the code for this

[2017-03-25 05:51] daas-ankur-shukla commented on #937
@slint @krzysztof as this is a bit elaborate issue. can i work on a demo version for this and then propose to integrate it with the spam filter project idea for GSOC? The records which users report as spam can be used to train the ML model for spam filter. so this functionality is linked to the spam filter project

[2017-03-25 09:48] jrios6 commented on #848
I'm almost done with the modal. Would welcome any suggestions for the header, content, confirmation button title for the modal.
<img width="678" alt="screen shot 2017-03-25 at 5 46 50 pm" src="https://cloud.githubusercontent.com/assets/3249947/24321273/2c05fd58-1183-11e7-9702-cd9632fda2b2.png">

[2017-03-25 12:20] rajat1994 commented on #937
@daas-ankur-shukla .... you need to take a look at the dataset more thoroughly... spam label is already there.

[2017-03-25 13:36] slint commented on #937
@daas-ankur-shukla This issue is more about adding a user-triggered "Report content" functionality, and tools for managing this process internally. Combining this with the ML spam classification project is a possbile future integration, but not necessary at the moment.

As you mentioned though, this is a more elaborate issue that might take some time to finish. If you start working on this try spl

[2017-03-25 14:47] jrios6 commented on #856
Hi, is this bug resolved yet? @ranjanam @krzysztof

[2017-03-25 19:49] jrios6 commented on #848
My pull request didn't pass the Travis test. Do I have to edit any test files to account for the change in UI for publishing a record?

[2017-03-25 20:03] rajat1994 commented on #848
@jrios6 ... take a look at the travis error
https://travis-ci.org/zenodo/zenodo/jobs/215026282

[2017-03-25 20:28] jrios6 commented on #848
@rajat1994 Saw it. Didn't get how my changes to action.html cause tests/unit/records/test_schemas_marcxml.py to fail though

[2017-03-26 18:30] PiyushGoyal443 commented on #708
@krzysztof  I would like to work on it. Can you please help me with where to look

[2017-03-27 07:12] krzysztof commented on #1010
@harshithmullapudi Hey, the general Idea is there but why not do it on Zenodo record page?

[2017-03-27 07:31] krzysztof commented on #1010
For example on a similar already exisiting feature take a look at accessrequest form, which is also rendered for records in "Restricted Access": https://github.com/zenodo/zenodo-accessrequests/blob/master/zenodo_accessrequests/views/requests.py

For example on that form looks like live, try to open any of those records: https://zenodo.org/search?page=1&size=20&q=&access_right=restricted

The files

[2017-03-27 08:30] krzysztof commented on #1010
Form should include:

- Full Name
- Email to which the recepient can reply to (by default filled-in with user's Zenodo email)
- Message
- Recaptcha

[2017-03-27 11:04] daas-ankur-shukla commented on #937
@slint @rajat1994 thanks for the comments. @slint i will try to get on with the first objective. :)

[2017-03-27 13:33] PiyushGoyal443 commented on #645
@krzysztof  i would like to work on it, can you help me with where to look

[2017-03-27 18:36] rajat1994 commented on #557
@rupak0557 ... i am not working on it right now. You can start working on it....If you need some help, do tell us.

[2017-03-27 18:49] davidanthoff opened #1036 "The archives created from github should include submodules"
It would be great if the archive that gets automatically created when I create a release on github would include any git submodules that my git repo might contain. I believe that e.g. this package  https://github.com/Kentzo/git-archive-all makes that pretty simple.

[2017-03-28 11:27] krzysztof opened #1039 "Records aren't always indexed after publishing."
This might be hard to reproduce but this is what user experienced:

1. Edit an already published record and request it to a community which belongs to you.
2. Record should be automatically accepted to the community (metadata), but not reindexed, so it doesn't appear in community search.

[2017-03-28 17:18] guptavaibhav18197 commented on #961
@krzysztof
Sir I followed these steps:
1 Created a new test user (by signing up)
2 Relaxed the constrains on the username to allow username with dot(s) in the following line
https://github.com/inveniosoftware/invenio-userprofiles/blob/master/invenio_userprofiles/validators.py#L33
3 Then I updated the username to gupta.vaibhav
4 Then I reverted the changes made in steps 2.
But I was able to log in

[2017-03-29 05:43] rupak0577 commented on #557
Working on it

[2017-03-29 09:42] guptavaibhav18197 commented on #942
I would like to take up this issue.

[2017-03-29 10:46] ttm opened #1040 "complex networks and text mining analytics"
It seems to me that an interface for further data analytics would enhance
our experience.
I can tackle this by using complex networks and text mining techniques,
because I have developed research on these topics.
Immediate ideas are:
*) Derive network by users interactions and vocabulary usage and deliver some graphical interfaces for exploring these structures.
*) Counting of words, tags, terms a

[2017-03-29 11:26] jainaman224 commented on #942
@guptavaibhav18197 Go ahead :+1:.

[2017-03-29 12:00] guptavaibhav18197 commented on #942
@jainaman224
I have gone through almost entire code flow, the only thing that I am trying to figure out if where is this_validate function is being called from. Any clues about that?

[2017-03-29 12:02] jainaman224 commented on #942
@guptavaibhav18197 It would be helpful for me if you can add the link the particular line.

[2017-03-29 12:07] guptavaibhav18197 commented on #942
@jainaman224 I have updated the comment ^

[2017-03-29 12:11] jainaman224 commented on #942
This is marshmallow form validation whenever the form is submitted this validator function is invoked.

[2017-03-29 12:27] guptavaibhav18197 commented on #942
@jainaman224  The thing is whenever the DOI field is empty while updating the form , this  https://github.com/zenodo/zenodo/blob/master/zenodo/modules/deposit/loaders/base.py#L80 function is not being invoked.
That is why I am wondering where is it being called from.

[2017-03-29 14:30] jainaman224 commented on #942
No idea about this. I need to check the codebase but currently occupied in other important work.

[2017-03-29 15:34] jainaman224 commented on #901
@lnielsen @krzysztof Why it is preferable to use `uap-python` ?

[2017-03-30 07:50] krzysztof commented on #1040
Hey Renato, thanks you for the ideas!

Do you have an online or offline analyzer in mind?
Analyzing and then gathering such information would indeed be interesting and great to know for later development. I guess the "cheapest" way to get that would be to do it offline, and skip all of the web development part.

At the moment there isn't so much inter-user interactions on Zenodo, since we don't ha

[2017-03-30 08:24] krzysztof commented on #1036
One thing to consider is whether we would have the rights to include all submodules code in the archive along with the user's code.

[2017-03-30 08:39] ttm commented on #1040
Hi Krzysztof,
the link is:
https://pastebin.com/iNNuN4fy
(already corrected in the initial message).

I thought I have seen a way to favorite entries (which would yield interactions).
Anyway, authors interact through co-authorship, using same keywords and vocabulary. Any other criteria comes to mind? Posting to the same community does not seem to me as an interaction criterion which would reveal s

[2017-03-30 18:00] krzysztof commented on #1040
At the moment it's not possible to "like" records, although it's in the ideas for the researcher's profiles project. But even then, this would be only useful if we decided to make this data publicly available (I'm not sure about that). The best corpus to work on would be still the Record's public metadata. At the moment I can't think of any other significant user interaction other than: authorship

[2017-03-31 08:38] targos opened #1042 "How are filenames normalized?"
Hello, I am writing an application to upload chemical data to Zenodo. Our entries are JSON with file attachments (stored in CouchDB).
While experimenting with the sandox, we saw that filenames are normalized during upload (some characters like slash or space are replaced by an underscore).
I wonder if there is a list of such characters or a RegExp that I could use to replicate this behavior becaus

[2017-03-31 10:21] lnielsen commented on #1042
The file names are normalised by this function Werkzeug's [``secure_filename``](https://github.com/pallets/werkzeug/blob/master/werkzeug/utils.py#L253-L295).

You can however use our new Files API which is already deployed and working, but which we haven't officially released yet. This API is used by our JavaScript uploader in the UI, and doesn't do any filename normalisation.

Here’s a cURL examp

[2017-03-31 10:22] #1042 closed

[2017-03-31 12:15] targos commented on #1042
Thank you.

[2017-04-01 01:21] guptavaibhav18197 commented on #793
@lnielsen I would like to go about fixing this issue.
Can you please provide some more information about the bug and how can I reproduce the same?

[2017-04-01 13:13] rajat1994 commented on #480
@DeadlyHollows ... are you working on this?

[2017-04-01 14:12] krzysztof commented on #793
I have checked and I could no longer reproduce this problem. This has been fixed in the meanwhile..

[2017-04-01 14:12] #793 closed

[2017-04-01 15:44] guptavaibhav18197 commented on #764
@lnielsen I would like to go about fixing this issue.
Can you please provide some more details of the enhancement, and the reference to where the related code resides?

[2017-04-01 16:09] guptavaibhav18197 commented on #913
@lnielsen I would like to go about fixing this issue.
Can you please provide some more information about the bug and how can I reproduce the same?

[2017-04-01 16:25] myrmoteras commented on #913
Dear Vaibhav

Here is the issue.

https://zenodo.org/deposit/322659

This is the deposition that I made manually and then got changed through the use of our API. In this step, the author name changed, the author affiliation got deleted, the date got changed.

When I wanted to change this again, it would not work. I think, you can change this again,

The publication date should be 2017-03-31
The au

[2017-04-02 18:10] krzysztof opened #1046 "templates: opengraph tags"
Add opengraph tags to zenodo pages so that the "shared" links are better rendered on facebook and other pages. This could be customized to provide record-specific tags e.g.: title, description for record pages, and some generic tags for Zenodo page.

[2017-04-03 09:12] krzysztof commented on #764
Or better - it should just open the deposit for editing just like POST to the record.

[2017-04-04 13:24] #946 closed

[2017-04-04 13:25] #939 closed

[2017-04-04 13:33] lnielsen commented on #1028
I can't reproduce the problem. Please re-open if you find the root cause of the error.

[2017-04-04 13:33] #1028 closed

[2017-04-04 13:34] lnielsen commented on #1046
Record pages should already have this and I saw you added this to the docs pages. Is there anything else todo? Otherwise please close.

[2017-04-04 13:37] #1040 closed

[2017-04-04 13:47] lnielsen commented on #1018
Let's fix instead by adding better support for multiple users as needed by the AAS grant.

[2017-04-04 13:47] #1018 closed

[2017-04-04 13:54] lnielsen commented on #1016
Actually the ``scripts/index.sh`` is wrong. It's using ``zenodo index reindex`` which will at best produce the correct result, at worst it will try to index deleted records because it doesn't take the PID delete state into account. The correct would be to run something like:

[code]

[2017-04-04 14:03] lnielsen commented on #991
It will be possible once we get around to doing community teams (#35) and allow curators access to edit metadata.

[2017-04-04 14:03] #991 closed

[2017-04-04 14:03] lnielsen commented on #35
See use case in #991

[2017-04-04 14:07] lnielsen commented on #986
Moved to Invenio-OpenDefinition repo.

[2017-04-04 14:07] #986 closed

[2017-04-04 14:08] #985 closed

[2017-04-04 14:12] lnielsen commented on #970
Seems like the alternate identifier option is missing in the deposit ui. @slint Can you please have a look?

[2017-04-04 14:15] lnielsen commented on #969
Is there any progress or PR on this issue? Just to know if it is being worked on and what the state is.

[2017-04-04 14:15] lnielsen commented on #967
@slint was this fixed?

[2017-04-04 14:32] lnielsen commented on #966
Are you stilling persistently having this issue?

[2017-04-04 14:32] #966 closed

[2017-04-04 14:33] lnielsen commented on #965
Solved via the new REST API documentation in developers.zenodo.org

[2017-04-04 14:33] #965 closed

[2017-04-04 14:35] lnielsen opened #1050 "communities: bump invenio-communities version"

[2017-04-04 14:35] lnielsen commented on #964
Closing in favour of #1050

[2017-04-04 14:35] #964 closed

[2017-04-04 14:47] lnielsen commented on #963
Thanks a lot for the feedback. We're using Elasticsearch's defaults indexing and would probably need  to add their ICU Analysis plugins or similar to fix this. Unfortunately we don't have the time right now to take an indepth look at the current indexing, and will rather wait to have this implemented in upstream Invenio.

[2017-04-04 14:53] #944 closed

[2017-04-04 14:55] lnielsen commented on #953
Duplicate of #962

[2017-04-04 14:55] #953 closed

[2017-04-04 15:06] #1016 closed

[2017-04-04 15:32] slint commented on #967
Yes, we were just waiting confirmation also from a ticket before closing. Revoke button renders and works as expected.

[2017-04-04 15:32] #967 closed

[2017-04-04 17:24] rusrushal13 commented on #965
Are the new Rest API documentation is released?

[2017-04-04 17:33] rusrushal13 commented on #974
@lnielsen is anyone is assigned to this issue?

[2017-04-04 19:06] cafexpreso opened #1051 "REST API links redirecting to http://developers.zenodo.org"
Hello, this link This link https://invenioinstall/dev routes the request to http://developers.zenodo.org instead of the API pages hosted locally, I had set to FRONTPAGE_ENDPOINT  this seems not to be working.

{%- set BASE_URL = url_for(FRONTPAGE_ENDPOINT, _external=True, _scheme='https') %} {%- macro panel_start(title, title_small, num, anchor) %}

{{title}}{% if title_small %} {{title_small}}{%

[2017-04-04 19:25] cafexpreso commented on #1051
It seems that is related to the redirector module
REDIRECTOR_EXTERNAL_REDIRECTS = [
    ['/dev', 'dev', 'http://developers.zenodo.org'],
    ['/faq', 'faq', 'http://help.zenodo.org'],
    ['/features', 'features', 'http://help.zenodo.org/features/'],
    ['/whatsnew', 'whatsnew', 'http://help.zenodo.org/whatsnew/'],
    ['/about', 'about', 'http://about.zenodo.org'],
    ['/contact', 'contact', 'h

[2017-04-04 19:26] cafexpreso commented on #1051
How I can fix this?

[2017-04-05 07:00] krzysztof commented on #1051
Overwrite the ``REDIRECTOR_EXTERNAL_REDIRECTS`` variable to empty list.

[2017-04-05 07:00] #1051 closed

[2017-04-05 07:03] #1046 closed

[2017-04-05 08:38] lnielsen commented on #974
Now yes :-) I'm assigning @krzysztof since he's the one in charge of taking care of your PR.

[2017-04-05 08:48] krzysztof commented on #1051
@cafexpreso
As soon as this PR is merged we will not host any static pages in DB anymore: https://github.com/zenodo/zenodo/pull/1013

If you want to use some of those you might want to revert this commit on your fork and clear the redirector config.

[2017-04-05 10:40] rusrushal13 commented on #950
Is documentation done for funders and grants

[2017-04-05 11:10] lnielsen commented on #950
No not yet.

[2017-04-05 14:05] cafexpreso commented on #1051
Hi
How can I customize the pages otherwise not using the DB.
I tried to set this variable FRONTPAGE_ENDPOINT  and they did not change it
seems that the template ingnores this variable.

On Wed, Apr 5, 2017 at 4:48 AM, Krzysztof Nowak <notifications@github.com>
wrote:

[2017-04-05 19:51] rusrushal13 commented on #974
@krzysztof is there I can help you with?

[2017-04-06 00:15] guptavaibhav18197 commented on #913
@myrmoteras
Sorry ,but I cant make the required changes in the above deposit as I dont have enough permission to edit it.
Still I would like to fix the bug, that is causing the problem you have mentioned.

[2017-04-06 08:55] krzysztof commented on #974
Hey, thanks, but at the moment no - I'm not actively working on it.
Since this issue proved to be difficult, it's probably not a low-hanging-fruit and requires longer investigation. We can't at the moment split it into smaller tasks since the efforts to to that might be equivalent to just solving it.. Nonetheless, your work was not for nothing and is very appreciated, as you gave insight into the

[2017-04-07 13:43] krzysztof commented on #708
@PiyushGoyal443 Sorry for the late reply. It requires decision before work can be started and it involves data migration, so it's not an easy task

[2017-04-08 13:21] eldemet commented on #810
I would like to give a 👍  on this issue, hopefully it will be addressed in a future milestone.

[2017-04-09 04:52] guptavaibhav18197 commented on #847
@krzysztof Sir,
I would like to add this enhancement.
Can you please give a description like what/where/how exactly is to be displayed.
What is the actual limit(the one you mentioned above)?
Where can I find the related code?

[2017-04-09 14:57] wmayner commented on #40
@lnielsen, do you need any help with this? I'd really like to see this implemented—happy to take a look at it.

[2017-04-09 23:45] guptavaibhav18197 commented on #151
@lnielsen Sir
I would like to add this enhancement.
Can you please give a description like what/how will those multiple users be able to edit the metadata? What are edit rights of the curator of that community? and
Where can I find the related code?

[2017-04-10 06:53] lnielsen commented on #40
@wmayner We'll happily accept help with it. Thanks a lot for offering.

Most of the code is in [inveniosoftware/invenio-github](https://github.com/inveniosoftware/invenio-github) repository.

The webhook call from GitHub arrives [here](https://github.com/inveniosoftware/invenio-github/blob/master/invenio_github/receivers.py#L43). Here we essentially capture the JSON payload if it's valid and start

[2017-04-10 13:39] slint opened #1053 "assets: MathJax official CDN is closing down on 30/04/2017"
[Official announcement](https://www.mathjax.org/cdn-shutting-down/). On the post they suggest to either:

- [ ] Use a different CDN, eg. [CDNJS](https://cdnjs.com/libraries/mathjax)
  - [ ] Switch `THEME_MATHJAX_CDN` with the new URL
- [ ] [Spend time integrating the build process](http://docs.mathjax.org/en/latest/installation.html), maybe even in a bundle in `invenio-theme`

[2017-04-13 19:43] wmayner commented on #40
Sounds good! I don't have much experience with this type of thing, so I can't guarantee I'll end up being helpful, but I'll see what I can do.

I think that pushing the same tag twice simply shouldn't have an effect; *i.e*, a tag is never updated in Zenodo once Zenodo knows about it. This would be similar to the way PyPI handles version numbers (you can't upload the same version twice).

Force-pus

[2017-04-13 19:56] FRidh commented on #40
Force-pushing is indeed something that one should avoid doing. Even so, it will likely happen some times, so we should think of a solution. We definitely shouldn't be removing an "old" version when a new tag is pushed.

I think we have the following two options:
1. create a new release with this version of the tag. At that point there will be at least two entries with the same tag label but differ

[2017-04-15 19:56] wmayner commented on #40
As I said above I think that ignoring duplicate tags is the way to go, since it will encourage people to stick to best practices and just release a new version.

Any thoughts, @lnielsen?

[2017-04-18 12:38] amadeusgwin opened #1057 "docker-compose up Errno 113"
Prereq.:
- Ubuntu 16.04 LTS xenial,
- installation with Docker ("docker-compose build" results in successful build without errors)

Issue:
"docker-compose up" throws following error and continues running
...
worker_1    | Trying again in 32.00 seconds...
worker_1    |
frontend_1  | 172.17.0.11 - - [13/Apr/2017:07:07:43 +0000] "HEAD /static/ping HTTP/1.0" 200 0 "-" "-" "-"
frontend_1  | 172.17.0.11

[2017-04-19 03:30] steven-murray opened #1059 "Adding bulk references"
Hi,

I have added my thesis to Zenodo (under the Astronomy Thesis Collection community), but have been suggested to add all references in the thesis to the uploaded metadata.

However, each reference needs to be on a new line to be exported properly etc. For some reason, the input field does not allow line breaks, and so copying in the entire reference section doesn't work. This forces one to manu

[2017-04-27 09:51] behrica commented on #1010
Useful for us as well.
We would use it to tell people 'why' an deposit was not accepted into our community.

Alternatively, I was thinking that it could be useful to be able to give a message, when we 'reject' a deposit into our community.
(for us this enhancement would be even better), but the general 'contact the owner' would do it as well.

[2017-04-27 14:37] elaeon commented on #293
Hi,

About this issue, do you have some news?

[2017-04-28 13:25] suso2 opened #1067 "Internal Server Error when I try to publish a record"
Steps I followed:

$ cd ~/src/
$ git clone https://github.com/zenodo/zenodo.git
$ cd ~/src/zenodo
$ git checkout master
$ docker-compose build
$ docker-compose up

Now, from a new shell:

$ cd ~/src/zenodo
$ docker-compose run --rm web bash /code/zenodo/scripts/init.sh
$ docker-compose run --rm statsd bash /init.sh
$ docker-compose run --rm web zenodo migration reindex -t od_lic
$ docker-compose r

[2017-05-01 17:40] jradavenport opened #1072 "formatting error of link in community curation request emails"
When a user submits an entry to be included in my community and I receive an automated email, there is a formatting error that always causes problems for me: the link at the end of the email comes through like this:

    You can accept or reject this record in your community curation page:
    (&#39;https://zenodo.org/communities/astronomy-general/curate/&#39;,)

[2017-05-02 07:55] lnielsen opened #1074 "csl: apa does not include DOI for reports + change software from dataset to article"
- The APA citation style apparently does not include the DOI for reports.
- Software is currently classified as dataset since CSL doesn't have a software type. After talking to CSL guys, it would be better to use article type as the type is the not included in the citation.

[2017-05-02 11:44] Herrner commented on #996
I'm having the exact same problem. Static is giving me this:

[code]

 fails with the already mentioned message:

[code]

[2017-05-02 11:47] #1074 closed

[2017-05-03 04:22] kishansag commented on #856
@krzysztof Hey, I have tried to fix this. Are you expecting something like this https://github.com/zenodo/zenodo/pull/1076?

[2017-05-04 07:43] MichaelCurrie opened #1078 "I can't view an upload I just made to sandbox.zenodo.org"
Using the API, not the front-end interface, I made a test upload:

![image](https://cloud.githubusercontent.com/assets/5267078/25694464/f97e30e2-30d8-11e7-9b98-ae01b2af66a3.png)

When I try to open my upload by clicking the link, taking me to https://sandbox.zenodo.org/record/72137, I get this page:

    Internal server error
    Error identifier: 399042175dce40bda41c41c10e3bc42e

I've tried a cou

[2017-05-04 08:37] slint opened #1079 "records-ui: publication date before 1900-01-01"
Records with publication dates before the year 1900 (eg. https://sandbox.zenodo.org/api/records/72137), fail to render their pages because of Python's `datetime.strftime` limitation. Alternative is to use `arrow` for this as proposed in this [SO thread](http://stackoverflow.com/a/35607999).

(Relevant issue: https://github.com/inveniosoftware/invenio-formatter/issues/47)

[2017-05-04 08:38] slint commented on #1078
Apparently this has to do with the fact that the Publication Date of this record is set to a date before the year 1900, so one of our rendering components fails. I've created the relevant issue #1079.

[2017-05-04 09:00] suso2 commented on #1078
Maybe it is related to #1067
I have a similar problem at the "publish" step. In my case with a docker installation. And the date is right.

[2017-05-04 09:13] slint commented on #957
Related to https://github.com/inveniosoftware/invenio-github/issues/46

[2017-05-04 10:06] MichaelCurrie commented on #1078
Thanks!  Yes when I change the date I can publish.  Feel free to close this issue if you feel it's redundant with #1079.

[2017-05-04 11:49] #1078 closed

[2017-05-04 11:51] slint commented on #1072
Thank you for noticing.

This issue has been addressed by https://github.com/inveniosoftware/invenio-communities/pull/95, and a fix will be deployed on Zenodo, on the next release of `invenio-communities`.

[2017-05-08 10:19] brucellino commented on #596
Hi all. I am following this issue. In my case, my zenodo account is linked to ORCID and GitHub. I pull things into my ORCID from DataCite once they have been deposited in Zenodo - this works fine for me.

My issue is that I want to be sure I'm adding the right person when adding _co-authors_ and this is where the ORCID field would come in really handy.

Is this just not part of the metadata schema

[2017-05-08 10:29] Herrner commented on #996
Just redid the installation from scratch and came to the same result.

[2017-05-08 13:17] cafexpreso commented on #996
As far as I remember, I had to uninstall and clean the underlaying docker related packages and files.
I had reinstalled it again and the installation resumed.

[2017-05-09 09:22] Herrner commented on #996
Since I installed the underlying docker infrastructure just beforhand, I guess this won't make any difference, but I'll try.

[2017-05-09 12:58] tobiasfrust commented on #996
I was also facing this problem once, but I was able to resolve it. My workaround was following:
In my case it was necessary to create a  `zenodo.egg_info` folder manually. I did this with the following command:
[code]
Once this folder exists, the error disappeared.
I know this is only a workaround, but at least for me, it worked. I hope it also helps you. Just wanted to let you know!

[2017-05-09 14:01] Herrner commented on #996
That did the trick. I had to install python pip and setuptools before, but then all went like advertised.

[2017-05-11 15:25] suso2 commented on #1067
Hi. I have just seen that if I create a new community and I put the documents/records on that community, all works fine (no Internal Server Error). If I use the community "Zenodo" I can't publish any record.
How can I show these records on the frontpage?
Thanks

[2017-05-17 13:35] slint opened #1089 "deposit: allow users to provide file structure for upload"
Uploaded files currently get passed through the [`secure_filename`](https://github.com/inveniosoftware/invenio-deposit/blob/ba3d5f5ed4c992fe8a1351d933538d0857a53ca1/invenio_deposit/views/rest.py#L276) function, stripping any path-like information. Allowing users to upload entire folders and/or define a structure in the files upload box ("New folder" button, drag-n-drop UI elements of folders/files

[2017-05-19 12:11] lnielsen opened #1092 "deposit: add support for changing files for non-Zenodo DOIs"

[2017-05-19 12:34] npch opened #1093 "PDF documents not displaying / downloading in Chrome and Firefox browsers on OS X Sierra"
PDF documents stored in Zenodo do not display when using the Chrome and Firefox browsers on OS X Sierra, presenting an "Unexpected server response":

![image](https://cloud.githubusercontent.com/assets/1507151/26247594/871927fe-3c96-11e7-805b-2c28b069509b.png)

When clicking on the Download button I get the error

[code]

Using Safari does not present this problem.

This was first reported on http

[2017-05-19 12:53] lnielsen opened #1094 "community: bulk accept/reject feature"
Based on e.g. a query.

[2017-05-19 13:26] lnielsen opened #1095 "deposit: support bucket versioning for non-zenodo DOIs"

[2017-05-19 13:26] #1092 closed

[2017-05-20 08:26] lnielsen commented on #1093
Fixed yesterday afternoon. It was caused by a fix for an XSS vulnerability that we discovered ourselves during a security review of the code base.

[2017-05-23 08:23] krzysztof opened #1096 "Error with print layout of zenodo pages on Firefox"
This has to do something with the footer forcing itself on the first page of the printed preview (which can be multi pages). This is true for both zenodo.org pages but also lektor pages, so this is something with the master page or the footer (which is reused in both).
This is only failing on Firefox, chrome preview is OK.

File for reference:
[mozilla.pdf](https://github.com/zenodo/zenodo/files/1

[2017-05-23 09:45] krzysztof commented on #949
This requires some work on invenio-openaire in order to have the grants/funders being updated periodically. At the moment it's a one-pass task which gets everything and pushed everything.

[2017-05-23 09:48] krzysztof commented on #949
Related: https://github.com/zenodo/zenodo/issues/617

[2017-05-23 09:50] krzysztof opened #1097 "deposit: research package upload type"
@lnielsen Can you provide some more details on that

[2017-05-23 09:52] krzysztof commented on #809
I guess its superseded by https://github.com/zenodo/zenodo/issues/1095

[2017-05-23 09:53] krzysztof commented on #410
Old versions display a new-version warning at the top of the page.

[2017-05-23 09:53] #410 closed

[2017-05-23 09:57] krzysztof commented on #925
The related identifiers are not in the record's metadata, but are indexed.

At the moment only the "hasPart" "isPartOf" is there, simply because next/previous version is tricky when it comes to semantic-versioned records which end up in Zenodo (i.e. software releases such as: 1.0 -> 2.0 -> 1.1 -> 2.1 -> 1.2 would "incorrectly" refer to next/previous version).

If we do not plan on handling that, t

[2017-05-23 10:01] krzysztof commented on #738
@lnielsen Requires better explanation

[2017-05-23 10:02] krzysztof commented on #949
This is probably fast (1-2 days) once #617 is done.

[2017-05-23 10:11] dnet-team commented on #738
Was this for us?

Lars, let us know if you need any clarification.

Paolo

----
Paolo Manghi
Istituto di Scienza e Tecnologie dell'Informazione "A. Faedo" - CNR
Tel: +39 050 315-2038 - Fax: +39 050 315-3464
Web: http://www.isti.cnr.it/People/P.Manghi
InfraScience Research Group: http://nemis.isti.cnr.it/groups/infrascience

[2017-05-24 06:35] lnielsen commented on #738
@dnet-team No it's for me :-)

[2017-05-24 06:37] lnielsen commented on #809
It's similar but I don't think it supersedes #1095.

[2017-05-24 06:39] lnielsen commented on #925
I think we can close it. We will not do more for now.

[2017-05-24 06:39] #925 closed

[2017-05-24 08:33] lnielsen opened #1101 "openaire: grants indexing and searching"
https://zenodo.org/api/grants/?q=openaire - includes only openaire, i would expect it to include the next two as well:
https://zenodo.org/api/grants/?q=openaireplus
https://zenodo.org/api/grants/?q=openaire2020

The suggester seems to work better

[2017-05-24 08:48] lnielsen opened #1102 "deposit: display better grant string"
E.g.

"Open Access Research Infrastructure for Europe 2020" ->  "OpenAIRE2020 (731011) | Open Access Research Infrastructure for Europe 2020"

Needs to be checked against both Horizon 2020 and other funders such as NSF, Wellcome Trust, etc.

Needs to be checked if it's solely on the UI based on better payload in the suggester, or we need to index the entire string in the ES suggester.

[2017-05-24 09:13] lnielsen opened #1103 "openaire: serializer for custom openaire json format"
[code]

[2017-05-24 09:16] lnielsen opened #1104 "openaire: post publishing task to send record to openaire index"
- [x] Fail safe - must still send record even when other service is sometimes down (celery retry +  rely on reharvesting?)
- [x] URL to API on openaire? (qa, production, test)
- [x] Authentication?

[2017-05-24 09:30] lnielsen opened #1105 "openaire: filter to determine which records to send to openaire"
- Datasets: ``resource_type.type:dataset``
- Publications: ``resource_type.type:(publication poster presentation) AND (access_right:open OR _exists_:grants)``

[2017-05-26 08:14] lnielsen commented on #1103
- mandatory: originalId, title, URL, license, collectedFrom, resourceType
- [ ] originalId: (oai identifier)
- [ ] Type vocabulary: ``publication``, ``dataset``
- [ ] Authors: as in OAI-PMH
- [ ] Publisher (dc:publisher)
- [ ] Language optional
- [ ] PIDs - type vocabulary (doi, oai, handle)
- [ ] License code vocabulary? EMBARGO, OPEN, RESTRICTED, CLOSED
- [ ] resourceType: ``0001`` publication,

[2017-05-26 09:19] lnielsen opened #1115 "Add "Available in OpenAIRE" to record detail page."
Requires info on how to generate link to OpenAIRE. Currently would require to create and MD5 hash of identifier, namespace and some other parameters, however @dnet-team is looking into if a redirect endpoint using e.g DOI or other identifier can be provided.

[2017-05-26 09:30] slint opened #1116 "records-ui: versions list items DOI and date not correctly generated"
- [x] DOI should be fetched from the actual record of each version's recid (currently generated from Zenodo DOI prefix + recid)
- [x] Date should be `publication_date` of the record (currently `version_pid.updated`)

This probably requires joining/querying `RecordMetadata` to get all the available information.

[2017-05-29 08:47] krzysztof opened #1119 "communities auto-accept on new version bug"
1. Create a new version of a record that has IR to a community that you own.
1. Record is accepted (expected)
1. Record disappears from the curation list but the record still shows the inclusion request in the box (bug).

[2017-05-29 08:51] krzysztof opened #1120 "GitHub releases migration issue."

[2017-05-29 08:52] slint opened #1121 "Discarding a new version should always redirect to the latest record."

[2017-05-29 09:26] krzysztof commented on #1120
- [ ] relink all record-pointing releases to their deposits
- [ ] create repositories and re-link all releases from the Repository with 102 releases.

[2017-05-29 12:45] krzysztof commented on #1120
Out of 92 releases, 3 had a "correct" repo (relinked). The rest did not have a GitHub-resolvable repo, hence they were detached

[2017-05-29 12:45] #1120 closed

[2017-05-29 12:55] slint opened #1122 "recid/DOI "updated" timestamp after migration"

[2017-05-29 13:23] krzysztof commented on #1119
Actually it looks like the Inclusion request is deleted but the record is not added to the community..

[2017-05-29 18:15] #1119 closed

[2017-05-29 18:15] #1121 closed

[2017-05-29 18:15] #1116 closed

[2017-05-30 04:24] krzysztof opened #1125 "deposit-ui: long titles (wrapped) produce strange badge rendering"
Long titles make the green "check" icon render above the other badges:

![deposit_title_wrapping](https://cloud.githubusercontent.com/assets/656365/26568031/750391b8-4500-11e7-8a55-969abfc38fca.png)

[2017-05-30 05:14] lnielsen opened #1126 "GitHub: marketplace listing"
https://developer.github.com/apps/adding-integrations/listing-apps-on-github-marketplace/requirements-for-listing-an-app-on-github-marketplace/

[2017-05-30 07:27] suso2 commented on #1093
I have the same problem using the Zenodo code updated on 30th May.
The first time I created the record all was working but after restarting the docker containers the problems started.
Using Chrome, Microsoft Edge and Firefox on Windows 10 presents the same problem.

Thanks.

<img width="808" alt="zenodo02" src="https://cloud.githubusercontent.com/assets/7069866/26572129/1359b500-4519-11e7-883a-e87

[2017-05-30 10:02] krzysztof opened #1128 "versioning: new version deposits should specify current publication date"
At the moment it inherits the deposit's publication date.

[2017-05-30 10:26] krzysztof opened #1130 "newversion bucket should protect from publishing the same files twice"

[2017-05-30 10:27] krzysztof opened #1131 "some DOI badges throw errors"
For example:
https://zenodo.org/badge/21369/scikit-learn/scikit-learn.svg

Sentry: d2da91937a894809afd732211353d2ef

[2017-05-30 10:30] krzysztof opened #1132 "deleting a record by an admin raises errors"
Sentry ID: d596e844aa954c0ab100004b7e5aa290

``local variable 'conceptrecid' referenced before assignment``

name is not visible here: https://github.com/zenodo/zenodo/blob/master/zenodo/modules/deposit/views.py#L276

[2017-05-30 11:34] krzysztof commented on #1131
'doi' in missing the the corresponding deposits (old records).
Requires manual update of the deposit per individual

[2017-05-30 11:39] krzysztof opened #1135 "publication date less than 1900 issue"
Sentry: ebf79b2873f1455ab3ac766c01437918

[2017-05-30 11:41] krzysztof commented on #1135
@slint I think you fixed that somewhere

[2017-05-30 12:43] slint commented on #1135
I think it's fixed by this one: https://github.com/inveniosoftware/invenio-formatter/commit/c86026a19290eb00f90b6e94200c8e5da7240aa2
But there are a couple of version releases and bumps required

[2017-05-30 13:22] krzysztof commented on #1130
This was fixed for deposit API calls here: https://github.com/krzysztof/zenodo/commit/aa011e9f7ea00f454cfe300584964301f68551f0

But it is probably still failing for GitHub-originated newversions.

- [ ] test if it fails for GH release and refactor the logic above to a helper.

[2017-05-30 18:02] lnielsen opened #1139 "versioning: link old records"
First case:
https://zenodo.org/record/18003

[2017-05-30 20:23] suso2 commented on #1093
<img width="822" alt="001" src="https://cloud.githubusercontent.com/assets/7069866/26603129/10bdb05e-4586-11e7-8b70-57380e579893.png">
<img width="818" alt="002" src="https://cloud.githubusercontent.com/assets/7069866/26603131/10f997e0-4586-11e7-8016-ff81f9166775.png">

Maybe this problem is not caused by the XSS vulnerability. I have created a second version of the record and the second one works

[2017-05-31 06:58] lnielsen commented on #1093
Could it be that you removed the other document from disk on your local Zenodo installation?

[2017-05-31 06:58] #1093 closed

[2017-05-31 07:44] krzysztof commented on #1139
- [ ] Requires search in related identifiers to find those
- [ ] CLI for linking records together:
``zenodo migration versioning link 1234 2345 3456``

[2017-05-31 16:19] krzysztof opened #1144 "deposit-ui: mockup button for "extraction" of a metadata from a deposit file."
1. Each uploaded file entry on the top of deposit form should render an "Extract metadata" button, e.g. next to the "Delete" icon.

1. On click, the button should make an asynchronous POST request to an endpoint (for now it can live here: https://github.com/zenodo/zenodo/blob/master/zenodo/modules/deposit/views.py), and get a JSON response. In the parameters it should pass the file information (UU

[2017-06-01 07:07] krzysztof commented on #1132
The main issue is fixed, but I think it still crashes if you remove the single-child record

[2017-06-01 07:07] #1132 closed

[2017-06-01 07:19] #41 closed

[2017-06-01 07:20] #34 closed

[2017-06-01 07:20] #886 closed

[2017-06-01 07:21] lnielsen opened #1146 "datacite: upgrade to datacite v4.1 including hasVersions/isVersionOf"

[2017-06-01 09:32] krzysztof commented on #1139
Resolved the case

[2017-06-01 09:46] krzysztof commented on #1139
WIP https://github.com/zenodo/zenodo-migrator/pull/40

[2017-06-01 11:25] #1139 closed

[2017-06-01 11:46] alesarrett opened #1147 "Improve authors list in suggested citation"
In the "Cite as" section of a resource, the authors are listed as

`Surname1, Name1, Surname2, Name2, Surname3, Name3, ...`

this doesn't help readability of authors.
Below the title of the resource there's a better formatting option that could be adopted:

`Surname1, Name1; Surname2, Name2; Surname3, Name3; ...`

[2017-06-01 12:30] lnielsen commented on #1147
Thanks for the suggestion. We are relying on the citation style language for automatically generating citation according to many different styles. The default style is APA which doesn't use semicolon.

There is however problem which is that current we only have full names and not the name split into family/given names, which causes problems when we have to convert the given name into initials (e.g

[2017-06-01 12:44] lnielsen commented on #293
We will be starting work on this during June.

--

- [ ] OpenAIRE JSON export needs to be updated.

[2017-06-01 12:55] krzysztof commented on #1130
This also protects the GitHub releases.

[2017-06-01 12:55] #1130 closed

[2017-06-01 12:58] #954 closed

[2017-06-01 14:33] lnielsen commented on #1135
Closed by #1148

[2017-06-01 14:33] #1135 closed

[2017-06-02 16:30] #1105 closed

[2017-06-02 16:30] #1115 closed

[2017-06-02 16:31] #1131 closed

[2017-06-02 16:52] krzysztof opened #1157 "update the linking migration tool to handle already versioned records"
The zenodo-migrator tool for linking records should support linking if only one record was upgraded. This will require testing to make sure that the order is correct (i.e. if one of the mid-versions is upgraded).

Case to handle:
1: 60814
2: 160593
3: 556216 (Concept DOI)
4: 801880

[2017-06-03 15:07] lnielsen opened #1159 "communities: accept/reject communities not listed alphabetically on record detail page"
Causes communities to jump around
<img width="353" alt="screen shot 2017-06-03 at 17 07 30" src="https://cloud.githubusercontent.com/assets/1698163/26754672/1e5ab74c-487f-11e7-9e3e-c9ff63c4c867.png">

[2017-06-03 15:10] lnielsen opened #1160 "deposit: embargoed records missing the upgrade to versioned record button"
e.g. https://zenodo.org/record/250557

[2017-06-05 10:36] myheed commented on #1001
sudo pip uninstall backports.ssl_match_hostname
sudo pip install backports.ssl_match_hostname

[2017-06-06 16:04] krzysztof commented on #1157
Resolved in most recent zenodo-migrator

[2017-06-06 16:04] #1157 closed

[2017-06-07 09:23] krzysztof opened #1161 "login form doesn't always find the user by the username"
Displays "Specified user does not exist" error, even though the username does exist.
Relevant support ID 197089

[2017-06-07 14:55] krzysztof opened #1163 "bibtex: no author information for some records"
Bibtex does not export authors for this record: https://zenodo.org/record/204756

[2017-06-07 16:12] krzysztof opened #1164 "github: should GitHub badges be replaced with Concept DOI badges?"
The redirection on our end was the pre-versioning solution at the time, but I guess we might as well just have a static badge with Concept DOI?

[2017-06-08 12:03] krzysztof commented on #617
Note: DataCite does not maintain the information about deletions:

http://www.openarchives.org/OAI/openarchivesprotocol.html#DeletedRecords
http://api.openaire.eu/oai_pmh?verb=Identify

[2017-06-08 13:10] lnielsen commented on #617
You mean OpenAIRE, not DataCite right?

Yes, so we probably need to do an entire reharvest

[2017-06-08 13:16] krzysztof commented on #617
We would have to remove all grants on our side and then reharvest.
But then if we do we might have hanging grant references in the metadata.

[2017-06-09 05:29] lnielsen commented on #617
I don't think it's necessary to remove all grants....you just ignore grants we already have in the database.

[2017-06-09 07:52] lnielsen opened #1166 "openaire: single sign-on"
OpenAIRE provides:
- OAuth 2 Provider:
  - client id/secret for a Zenodo app.
  - Zenodo app does not require user consent.
  - Information shared with zenodo includes (email, username, full name and an unique identifier for a user in openaire)
- Links on portal needs to send user through oauth flow on Zenodo.

Zenodo:
- Configure OAuth client (Login via OpenAIRE - institutional login)
- Develop e

[2017-06-09 07:55] lnielsen opened #1167 "openaire: hand over ecfunded community curation"
Hand over community curation to Minho.

[2017-06-09 07:59] lnielsen opened #1168 "opeanire: route helpdesk request related to openaire to openaire helpdesk"
Request support email from Natalia.

[2017-06-09 08:02] lnielsen opened #1169 "openaire: initial broker integration with webhook receiver"
Setup dummy webhook receiver on Zenodo that will receive OpenAIRE webhook notifications from the broker.

Needed to start inspecting events.

[2017-06-09 08:24] lnielsen opened #1170 "openaire: integration mining service"
NKUA/ICM will merge Cermine and grant mining service under one API. (Lead NKUA, Harris).

Integrate this with the metadata extraction on Zenodo

[2017-06-09 08:24] lnielsen opened #1171 "docs: better advertise upload limits"

[2017-06-09 08:25] lnielsen opened #1172 "docs: show cases"

[2017-06-09 08:25] lnielsen opened #1173 "openaire: multi-user community accept/reject"

[2017-06-09 08:26] krzysztof commented on #617
But then how do you know what was deleted.

[2017-06-09 08:29] lnielsen opened #1174 "openaire: DLI integration"
- API: https://api-dliservice-prototype-dli.d4science.org/v1/ui/#/
- UI: https://dliservice-prototype-dli.d4science.org/

[2017-06-09 08:33] lnielsen commented on #617
the assumption is that grants are not removed which will be fine in most cases

[2017-06-09 09:07] lnielsen opened #1175 "openaire: enable direct indexing of software when Openaire supports it."

[2017-06-09 09:16] lnielsen opened #1176 "openaire: community REST API"
Need clarification on which APIs is needed.

Likely custom OpenAIRE API may be needed.

[2017-06-09 09:33] mpol opened #1177 "Site name not displayed in some places"
Noticed at least on
- the [communities page](https://zenodo.org/communities/) - in the "Communities created and curated by users" header,
- individual community pages ([example](https://zenodo.org/communities/zenodo/?page=1&size=20)) - in the second box on the right, last bullet.

The Zenodo name that should be part of these texts is missing.

From a quick code search it seems that the templates u

[2017-06-09 10:38] jainaman224 commented on #1177
Hey @mpol, thanks for reporting. We have fixed the first issue [check here](https://github.com/zenodo/zenodo/issues/998) and it will reflect once the new `invenio` version is released.

[2017-06-09 11:42] mpol commented on #1177
@jainaman224 I don't think this is the same issue, or at least this is not the same missing name that I'm writing about. Looking at the template https://github.com/zenodo/invenio/blob/zenodo-master/invenio/modules/communities/templates/communities/index_base.html there should be a name in "created and curated by users", between "by" and "users".

[2017-06-09 12:01] jainaman224 commented on #1177
Ohh ok, Sorry I misunderstood you.

[2017-06-13 07:57] lnielsen opened #1180 "global: zotero support review"
- Review of how Zotero handles software:
  - type, version, publication date.

[2017-06-13 10:19] pat-s opened #1181 "Github release failed"
https://zenodo.org/account/settings/github/repository/pat-s/oddsratio#

# Errors
[code]

# Github payload

[code]

[2017-06-13 13:37] krzysztof opened #1182 "GitHub: fetch the description from repository description instead of Release"
Release could be included in additional notes instead, but the description should be consistent between github releases.

[2017-06-13 14:34] krzysztof opened #1183 "Webhook receiver for ADS events."
Set up a receiver (invenio-webhooks) for citation events from ADS (in the future from the broker).

[2017-06-13 14:35] krzysztof opened #1184 "Prepare mock of Zenodo events"
Prepare (from logs) a typical example of Zenodo events we would send to the broker:

- [ ] `record`
  - [ ] `created`
  - [ ] `updated`
  - [ ] `deleted`
- [ ] `record-relation`
  - [ ] `added`
  - [ ] `removed`

[2017-06-13 14:38] krzysztof opened #1185 "deposit: version field"
- [x] Update the record JSONSchema and ES mapping with top-level ``version`` field.
- [x] Update Deposit REST API (JSON serialisers/deserialisers)
- [x] Update Records REST API (JSON serialisers)
- [x] Add to UI form (need to decide exactly where on how it should be displayed)
- [x] Update Deposit REST API documentation.
- [ ] Format updates:
   - [x] DataCite (version field)
   - [ ] BibTeX (not

[2017-06-13 14:45] krzysztof opened #1186 "define the events on Zenodo"
What sort of events would we send to the broker?

- New upload/new version of a record
- Community accepted
- Metadata edited?
- DOI registered or updated.

[2017-06-13 14:47] krzysztof opened #1187 "sending of the Zenodo events to the broker"
Depends on https://github.com/zenodo/zenodo/issues/1186

[2017-06-14 12:02] krzysztof opened #1189 "docs: document versioning for REST API."
The new versioning REST API needs documenting.

[2017-06-14 12:04] krzysztof commented on #1189
Relevant: https://github.com/zenodo/developers.zenodo.org/issues/8

[2017-06-14 12:04] #1189 closed

[2017-06-14 12:08] krzysztof commented on #617
The harvesting works: https://github.com/inveniosoftware/invenio-openaire/pull/44

But the most reliable way is to dump the grants locally and load them from file.

[2017-06-15 07:30] #798 closed

[2017-06-15 12:39] #1163 closed

[2017-06-16 10:15] lnielsen opened #1193 "openaire: classify communities"
E.g. by subject, type (institution, research group, ...)

[2017-06-16 10:16] lnielsen opened #1194 "openaire: advertise better nice datasets"
inform networking team about collaborations like pensoft

[2017-06-16 10:19] lnielsen opened #1195 "openaire: provide LOD guys with info on versioning API and link dumps"

[2017-06-16 12:01] lnielsen opened #1196 "deposit: safari keywords autocomplete doesn't probably update field"
when a safari users enters a new keyword and safari suggest new keywords, then only the typed letters from the auto-complete appears. Ticket 200469

[2017-06-16 12:13] lnielsen opened #1197 "opeanire: record not appearing on portal"
This Zenodo Record:
https://zenodo.org/record/583691
https://zenodo.org/oai2d?verb=GetRecord&metadataPrefix=oai_dc&identifier=oai:zenodo.org:583691

Is supposed to be available in OpenAIRE:
https://www.openaire.eu/search/publication?articleId=od______2659::41d6a1133fffd781940520a0436b9579

[2017-06-16 12:39] #1103 closed

[2017-06-16 12:40] #1104 closed

[2017-06-16 13:33] lnielsen commented on #1197
Have to wait for next index update.

[2017-06-16 13:33] #1197 closed

[2017-06-16 14:03] krzysztof opened #1198 "deposit-rest: Add the versions link to the deposit"
Currently there's no easy way to get from a record/deposit version to other versions.

On the deposit links we should serve something like: ``"versions": "https://zenodo.org/api/deposit/depositions/?q=conceptrecid:XXXXX&all_versions&sort=-version"``

[2017-06-16 14:04] krzysztof commented on #1198
e.g.: https://zenodo.org/api/deposit/depositions/?q=conceptrecid:592790&all_versions&sort=-version

[2017-06-17 13:09] krzysztof opened #1200 "metadata extraction in a celery task"
In order to offload heavy tasks, we need to use celery for extraction. Gathering results from celery job is non trivial, unless we're willing to wait in the web application for the result (which doesn't solve the problem).

Most likely to solve this we will have to define a DB Model which will keep track of the metadata extraction jobs, as well as build a simple REST API.

Endpoint: ``/fileextract

[2017-06-17 13:21] krzysztof opened #1201 "create a modal for the metadata extraction on the deposit-ui form"
When you extract the metadata from the file, a modal should be displayed which would allow you to select which fields you want to replace.

[2017-06-17 13:29] krzysztof opened #1202 "bootstrap a skeleton module for the metadata extraction module"
This might be more general than just metadata extraction, but a general file processing, also to get some side effects in the system (e.g. create new files - thumbnails/video convertions).

Possible candidates: ``invenio-file{analyzer,processor,extractor}``?

@lnielsen @slint comments?

[2017-06-17 13:30] krzysztof opened #1203 "create a PDF metadata extractor"
This includes first taking a look at what's available off-the-shelf, or if we're feeling adventurous to write up something simple that analyzes the PDF structure for some basic stuff like: "title", "abstract" and "authors".

[2017-06-17 13:47] krzysztof commented on #1200
@xiaom For starter we can create a module in zenodo (we will refactor it later to a separate invenio module), which will have provide simple handling of those endpoints, as well as define a simple DB model like:

class FileExtraction(db.Model, Timestamp):
    id - UUID (PK)
    object_version_id - FK to Object Version
    status - (Enum with possible job states)
    extractor - (String which repre

[2017-06-17 13:52] krzysztof commented on #1200
Then the celery part is rather easy - the endpoint will query (if they exist) or instantiate (if the action is "start") those "job" DB objects and launch a celery task, which will have a signature like:

[code]

[2017-06-17 13:58] krzysztof commented on #1200
Here's a rough sketch for the endpoint:

@route('/fileextractor/<extractor_type>/<object_version_id>/<action>', methods=['POST', 'GET'])
def extractor(extractor_type, object_version_id, action):
   if request.method=='GET':
       job = FileExtractor.query.filter_by(...).one_or_none() # see if job exists
       if job:
           return job.result
       else:
           # inform that the job need

[2017-06-17 14:00] krzysztof commented on #1200
Now finally, the last part is modifying the angular code on the deposit UI so that on button click it first checks if the extraction job exists, if not, start it, then pool the endpoint every several seconds for the status, and finally if it's 'DONE' fill-in the metadata on the form

[2017-06-17 14:11] krzysztof commented on #1200
Last comment:
Since the DB model makes a FK to ObjectVersion, it means that two different ObjectVersions which point to the same bytes (FileInstance), will now know that given job was already done. Perhaps we should keep the FK to the FileInstance instead? I guess for simplicity the REST API should accept ObjectVersion since that's what you get from the Deposit UI, but internally we should not re-

[2017-06-18 05:09] xiaom commented on #1203
I have good experience with [grobid](https://github.com/kermitt2/grobid). And it claims "deployments in production includes ResearchGate, HAL Research Archive, the European Patent Office, INIST, Mendeley, CERN, ..." 😄   We can start with it.

[2017-06-18 09:10] krzysztof commented on #1203
Perfect, I will take a look :)

@lnielsen WDYT about grobid?

[2017-06-18 09:11] krzysztof commented on #1203
We might need to ask Inspire team about it

[2017-06-18 15:34] slint commented on #1202
invenio-file**s**-processor :+1:

[2017-06-19 06:54] lnielsen commented on #1203
@krzysztof I'm not sure Grobid if it's worth the effort:

1) Grobid seems non-trivial to run in production (have to run as a service, and meaning machines, monitoring, alarms etc).
2) OpenAIRE is setting up an endpoint where we can send the PDF and they'll do both bibliographic metadata extraction as well as grant identification. Cermine can be checked here http://cermine.ceon.pl/index.html

Inspi

[2017-06-19 06:54] lnielsen commented on #1200
Please talk to @egabancho about what they did for videos.

[2017-06-19 07:15] lnielsen opened #1205 "records: meta-tags problem for zotero"
E.g. on https://doi.org/10.5281/zenodo.45756

this

``<meta name="citation_author" content="Tempel" /> ``

should be

``<meta name="citation_author" content="Tempel, Wolfram" /> ``

[2017-06-20 08:03] krzysztof commented on #1201
The general idea is that the response from the button shouldn't force-overwrite all fields without user's approval first.

The most user friendly way is probably to do something like this:

The "extract" button, once you click it, sends the extraction job, and polls for result. Once the result is fetched, the button turns the color to green and maybe changes the label from "Extract" to "Apply", wh

[2017-06-21 08:35] MarcoMinghini opened #1207 "author profile section"
It would be great to have an author profile section, i.e. a single place where I can access all the documents having me as an author (those uploaded by me and also those uploaded by others of which I am an author).

[2017-06-21 08:47] lnielsen commented on #1207
We have a Google Summer of Code project to create Research Profiles - if it works out you should have something pretty close to what you are asking. It will show everything you uploaded, and everything where your ORCID appears (if you linked your ORCID account). It won't be smarter than that, since author disambiguation is pretty difficult and would be very time consuming for us to do now.

[2017-06-21 09:35] behrica commented on #915
We from EFSA would like to have download statistics as well

[2017-06-21 09:44] lnielsen commented on #915
FYI: Development of the underlying Invenio modules for statistics have been started by one of our sister services. Once the new modules are ready for production we will install them on Zenodo. I would estimate that to be sometime late Sep to early Nov.

[2017-06-22 07:33] MarcoMinghini commented on #1207
That is great, thank you for the information and the great work to improve Zenodo!

[2017-06-22 09:09] behrica commented on #810
As well important for us from EFSA.
For us the community is in reality "EFSA owned", not really "personell".
So it would be very usefull, if there could be multiple curators or goups per community.

[2017-06-22 10:42] lnielsen commented on #1160
Custom DOI

[2017-06-22 10:42] #1160 closed

[2017-06-23 16:35] elaeon commented on #293
Hi,

This field will be ISO 639-3?, there are plans to include multiple language in a resource?
Thanks,

[2017-06-26 18:06] krzysztof opened #1209 "GSoC RDME: Entry-point loading of extractors."
Example:
https://github.com/inveniosoftware/invenio-previewer/blob/master/invenio_previewer/ext.py#L107

https://github.com/inveniosoftware/invenio-previewer/blob/master/setup.py#L123-L133

[2017-06-26 18:09] krzysztof opened #1210 "GSoC RDME: Define the module REST API"

[2017-06-26 18:13] krzysztof commented on #1210
The module should probably define the following REST API:

``GET /filesprocessor/<processor_name>``  - Get some info about the processor resource
``POST /filesprocessor/<processor_name>/<object-version/`` - execute extraction and get the JSON result

Another useful endpoint:
``POST /filesprocessor/<processor_name>/    data={'file': FileStream}``  - same as above but directly by reading the file-st

[2017-06-26 18:14] krzysztof opened #1211 "GSoC RDME: Sort out permissions."

[2017-06-26 18:25] krzysztof commented on #1211
We need to protect the access to files with permissions, otherwise anyone can POST to the endpoints and get some JSON from files which are private.

Doing it "correctly" is not straightforward. We should re-use the file permission checkers which are already defined and used.

Invenio-files-rest defines the following cached_property:
https://github.com/inveniosoftware/invenio-files-rest/blob/e0a5d9

[2017-06-28 06:45] slint opened #1212 "GSoC RP: Researcher profiles UI design"

[2017-06-28 06:56] jainaman224 commented on #1212
Profile page has two tabs, the first shows overview (Best match) and other shows Recent publications.

Screenshots of overview page are:
![pp1](https://user-images.githubusercontent.com/13117482/27623964-839f74ea-5bfc-11e7-9724-d775953c5374.png)
![pp2](https://user-images.githubusercontent.com/13117482/27623965-83d2cfe8-5bfc-11e7-9fb1-0ab90221d6fc.png)

Screenshots of publications page are:
![pp3]

[2017-06-28 07:01] jainaman224 commented on #1212
We have also created static search page and contact the owner page.

Here are the screenshot for contact the owner page:
![pp6](https://user-images.githubusercontent.com/13117482/27624240-7039b0fe-5bfd-11e7-934a-56f1412c07fe.png)
with errors
![pp8](https://user-images.githubusercontent.com/13117482/27624278-9f776672-5bfd-11e7-8b34-96862b668ae8.png)

And here is the screenshot for search page:
![pp

[2017-06-28 17:58] slint opened #1214 "github: addition of Sentry event ID in webhook errors"
Failed GitHub releases do not store any information that can help with tracking down the issue, but usually include a generic ["Unknown error occured."](https://github.com/inveniosoftware/invenio-github/blob/901f396c191a6e50b62eecd6628e7aca1d327174/invenio_github/tasks.py#L129) message. Including in the error message the [Sentry event ID](https://docs.sentry.io/clients/python/integrations/flask/#g

[2017-06-28 19:14] slint opened #1215 "views: better community accept/reject button feedback"
Clicking the accept/reject button leaves it in a disabled state, making it a bit confusing for users whether some action is pending or finished. Some better visual indicator should be triggered after the AJAX call completes successfully.

There are two places at the moment that the buttons appear:

1. Record pages (eg. https://sandbox.zenodo.org/record/59917)
2. Community curation pages (eg. https

[2017-06-29 15:40] cafexpreso opened #1217 "development installation and docker fails (zenodo assets build)"
Hello,

I am trying to deploy a developer installation on a OS X 10.12.5, following this documentation
http://zenodo.readthedocs.io/en/latest/installation.html. The docker deployment appears to work well.
On contrary, while attempting to deploy the developers installation it fails in the last step:

(zenodo)$ ./scripts/setup-assets.sh

specifically in the step
zenodo assets build

Below the output

[2017-06-30 13:13] slint opened #1218 "communities: search results ordering"
Currently the ordering of the community search results might cause problems when trying to add a Community in the deposit form since there is no "score" involved.

Example: There is a community named "Evolution", though when searching for the exact word "Evolution" it appears way later in the results thus not showing up in top 5 results that the Community search drop-down offers.

[2017-06-30 20:40] ghost opened #1219 "REDIRECTOR_EXTERNAL_REDIRECTS"
Hi

I am trying to use REDIRECTOR_EXTERNAL_REDIRECTS to customize some of the pages [about, dev ...] to point to the test installation. While the initial redirect work the page falls back to the zenodo.org site.
Beside the definition of the custom URL/Link in REDIRECTOR_EXTERNAL_REDIRECTS is there any other variable needed to be set to fully isolate the zenodo test system from the zenodo.org?

All

[2017-07-04 13:43] #1053 closed

[2017-07-05 21:04] cafexpreso commented on #1219
Ok this REDIRECTOR_EXTERNAL_REDIRECTS only affect the behavior of the redirector module if defined directly in the configuration file in the modules directory (config.py). If defined in the zenodo.cfg file this variable appears to be ignored.

[2017-07-07 17:37] #1217 closed

[2017-07-10 09:24] egabancho commented on #1200
This a quick [brain dump](https://github.com/CERNDocumentServer/cds/issues/913#issuecomment-314051559) of what we are thinking on doing, our use case is a bit more complex than the one you describe here, but in the end I think it fits perfectly.

[2017-07-10 13:15] lnielsen commented on #293
Right we're not planning to allow multiple languages mainly due to DataCite Metadata Schema only allows for one language.

http://schema.datacite.org/meta/kernel-4.0/doc/DataCite-MetadataKernel_v4.0.pdf (The primary language of the resource.)

[2017-07-10 15:12] krzysztof opened #1224 "Decide on where do we write the Zenodo SIPs (directory structure)"
We should integrate with sipstore recent PR and test how the records's sips should be written to the disk.

We probably might want to organize them like:

``/.../sips/<recid>/<Record.revision_id?>/sip_directory``

Assumption would be that with <revision_id> naming of directories we can find out the order in which the sips were created. Timestamped directory name might not be enough (we would need

[2017-07-10 15:21] krzysztof opened #1225 "lightweight sips - producing fetch.txt files for metadata edits and versioning"
This might be something that is part of sipstore API.

To store small sips after record editing we need to produce fetch.txt files, which will list the files from the original SIP (which has the actual data).

For new versions, we also need to be able to produce sips which can produce partial fetch.txt files, same goes for new versions, and metadata edits of new versions:

**Record_v1.revision_1**

[2017-07-10 15:24] slint opened #1226 "Alembic recipes for Invenio-SIPStore"
Create initial alembic recipes on https://github.com/inveniosoftware/invenio-sipstore/commit/12f365634de698a1659365, to be able to sync currently deployed DB schema on production.

Syncing involves modifying constraints and names of the deployed schema to match the schema produced by the alembic recipe.

[2017-07-10 15:51] krzysztof commented on #1226
Second part is the recipe that upgrades the SIP DB schema with the newest changes + migrates the data (extraction of SIP.content, SIP.format to separate table etc.).

1. Init recipe
2. SIP store tables recipe (the same state as current Zenodo state)
3. Third recipe with the recent SIPstore changes.

[2017-07-11 11:13] osallou commented on #996
Modifying Dockerfile to set zenodo removes the issue with package not found:

    zenodo@8b3d90825164:/code/zenodo$ git diff Dockerfile
    diff --git a/Dockerfile b/Dockerfile
    index 7ae0a5c..e5c0f4e 100644
    --- a/Dockerfile
    +++ b/Dockerfile
    @@ -74,6 +74,8 @@ RUN mkdir -p /usr/local/var/data && \

     COPY ./docker/docker-entrypoint.sh /

    +RUN cd /code/zenodo && python setup.py

[2017-07-12 17:28] slint opened #1227 "search-ui: inclusion of unicode characters search query changes sorting"
Example at [Zenodo search page](https://zenodo.org/search):

1. "John" sorts results by "Best Match"
2. "Müller" sorts results by "Most recent"

[2017-07-13 08:18] lnielsen commented on #1212
Great work and thanks for posting the screenshots - it really helps a lot :-) Some quick thoughts (to be discussed with @slint)

- Tabs: Rename "Publications" to "Uploads" (publications is only one of the types that people can upload). I would add the total count as well as a label.
- Tabs styling: I like the GitHub styling better than the default Bootstrap.

<img width="356" alt="screen shot 2017

[2017-07-13 12:39] krzysztof commented on #1225
PR here: https://github.com/inveniosoftware/invenio-sipstore/pull/30

[2017-07-13 16:49] jainaman224 commented on #1212
@lnielsen Thanks for your thoughts and help us improve your product.

Profile image: Currently it is uploaded by user. But @slint supported that gravatar would be better.
Contact the owner: Approach 1 is followed. This PR is for discussion on UI. Here is how it is implemented https://github.com/jainaman224/zenodo/blob/researcher_profile/zenodo/modules/profiles/views.py#L84.

[2017-07-14 08:23] slint commented on #1226
Migration recipes tested on production dump successfully :taco:
Average duration for the upgarde is 20-30min.

[2017-07-14 08:25] lnielsen commented on #1226
Does this require downtime again? Would be good if e.g. table changes could be made immediately, and then the site could be up during the time it takes to migrate the old data.

[2017-07-14 09:24] slint commented on #1226
The problem is that it's not only new tables but also there's columns being moved from one table to another (`SIP.{content, sip_format} -> SIPMetadata.{content, type_id}`) and I'm not sure if having an intermediate state is OK with the SQLAlchemy models...

SIP creation is part of publishing as well which uses these models. I'll give it a try and see if we can split it in two parts

[2017-07-18 08:50] krzysztof commented on #1209
Done at master of: https://github.com/xiaom/invenio-files-processor/commits/master

[2017-07-18 08:50] #1209 closed

[2017-07-18 11:35] lnielsen opened #1229 "deposit: license selection "CC0" problem"
If you type "CC0" the license is not found, if you type "Creative Commons Zero" it is.

[2017-07-19 07:17] jmason888-berkeley commented on #596
Indeed it would be handy, and would also allow me to verify, before I hit "publish", that Zenodo has the right ORCID everyone.

Really, it should be as much a part of the UI and schema as "name" and "institution"...

[2017-07-19 07:19] jmason888-berkeley commented on #1207
This will be nice to see, since currently I my profile doesn't even *show* me my ORCID, let alone use it in a search...

[2017-07-24 08:10] krzysztof opened #1233 "related_identifiers unicode error"
It is possible to enter the following text:

MGON PO RGYAL MTSHAN. (2017). སྦ་བཞེད་. Zenodo. http://doi.org/10.5281/zenodo.437874

into the related identifier's identifier field and then publish record, crashing it in effect.

[2017-07-24 08:59] slint commented on #1233
I think changing [this](https://github.com/zenodo/zenodo/blob/master/zenodo/modules/records/serializers/schemas/common.py#L231) (and possibly taking a look at other fields as well), to [SanitizedUnicode](https://github.com/zenodo/zenodo/blob/master/zenodo/modules/records/serializers/fields/sanitizedunicode.py#L34) might do it...

[2017-07-26 06:13] slint opened #1235 "github: inclusion of release assets in published record"
It's common for GitHub releases to include release "assets". Since the zipball of the source code is already downloaded, it might be also worth looking at downloading and including the assets in the produced record.

File sizes are limited to 2GB per file, though there's no limit in the number of files, so soe checking is required before attempting to download the assets.

[2017-07-26 13:01] krzysztof commented on #1144
Integrated into metadata_extraction branch.

[2017-07-26 13:01] #1144 closed

[2017-07-26 13:05] krzysztof commented on #1211
Looks like the solution proposed in https://github.com/xiaom/invenio-files-processor/commit/9513665ec5f22a58b415bc2edc0fa999f9f0e892#diff-549d7d12e47744bd35ee40bc935c419aR53 works. It throws a 404, so it's hidden that the file by this uuid.

[2017-07-26 13:09] krzysztof commented on #1210
For the time being a single POST should be sufficient: https://github.com/xiaom/invenio-files-processor/blob/master/invenio_files_processor/views.py#L46

[2017-07-26 13:09] #1210 closed

[2017-07-26 13:10] krzysztof opened #1236 "make the module alpha-release ready"

[2017-07-26 13:16] krzysztof commented on #1203
We settled on using grobid for now as the first PDF extractor which seems to work OK. When CERMINE by OpenAIRE goes live we can develop another extractor and compare the results. Swapping those alter in deposit form should be a one-liner.

[2017-07-26 13:16] #1203 closed

[2017-07-26 13:17] krzysztof commented on #1202
https://github.com/xiaom/invenio-files-processor

Needs moving to inveniosoftware org.

[2017-07-26 13:17] #1202 closed

[2017-07-26 13:19] krzysztof commented on #1236
1. Clean up the generated TODOs: https://github.com/xiaom/invenio-files-processor/search?utf8=%E2%9C%93&q=TODO&type=
1. Transfer ownership to inveniosoftware organization.
1. Set up travis and pypi builds.

[2017-07-26 13:24] krzysztof opened #1237 "Display the extraction button for PDFs only."

[2017-07-26 13:26] krzysztof commented on #1201
Update to comment above:

Since we're not pooling for results, at least until this is resolved: https://github.com/zenodo/zenodo/issues/1200 we simply render the modal form as soon as it's available.

[2017-07-26 13:37] krzysztof opened #1238 "null values from extractor"
Upload a PDF that is not a paper - extracted results is something like:
[code]
We should not attempt to replace the values in the form for those, as well as empty strings (not sure if that happens though).

[2017-07-26 13:41] krzysztof commented on #1238
This should perhaps be tackled after this one: https://github.com/zenodo/zenodo/issues/1201
since in case of null values we would simply not show those on the modal form.

[2017-07-27 07:12] lnielsen commented on #805
This issue has re-appeared:
https://sentry.cern.ch/zenodo-admin/production/group/605479/

[2017-07-27 07:13] lnielsen commented on #805
[code]

[2017-07-27 07:13] lnielsen commented on #805
Related to duecredit/duecredit#117

[2017-07-27 07:23] lnielsen opened #1240 "xrootd: upgrade to invenio-xrootd v1.0.0a5 and remove local xrootd module"

[2017-07-27 15:17] krzysztof commented on #856
Fix has been integrated here https://github.com/zenodo/zenodo/pull/1241

[2017-07-27 15:17] #856 closed

[2017-07-27 15:17] krzysztof commented on #997
Fix has been integrated here https://github.com/zenodo/zenodo/pull/1241

[2017-07-27 15:17] #997 closed

[2017-07-27 15:18] krzysztof commented on #848
Fix has been integrated here https://github.com/zenodo/zenodo/pull/1241

[2017-07-27 15:18] #848 closed

[2017-07-27 15:18] krzysztof commented on #764
Fix has been integrated here https://github.com/zenodo/zenodo/pull/1241

The solution is to change the state of deposit to editable when the deposit page is opened.

[2017-07-27 15:18] #764 closed

[2017-07-31 09:43] krzysztof commented on #1236
Almost done, needs PyPI authentication

[2017-08-03 07:14] krzysztof opened #1247 "Migration for all the sips which were not written to disk."

[2017-08-03 07:15] #1247 closed

[2017-08-03 07:21] krzysztof commented on #1224
Bagit metadata migration: https://github.com/krzysztof/zenodo-migrator/tree/bagit_meta

[2017-08-03 09:08] krzysztof commented on #1224
``recid: 100``, ``revision:1``  ->  ``../100/r/1/``
``recid: 100``, ``revision:2``  ->  ``../100/r/2/``
``recid: 12345``, ``revision:1``  ->  ``../123/35/r/1/``
``recid: 1234567890``, ``revision:123``  ->  ``../123/456/789/0/r/123/``

[2017-08-03 11:39] #1225 closed

[2017-08-06 13:20] slint opened #1250 "contact-form: handle SMTP errors"
SMTP exceptions are not handled at the moment, leading to error pages when for example, the recipient's email address is wrong.

[2017-08-07 09:22] slint opened #1251 "deposit-ui: clarify which DOI is pre-reserved"
It should be mentioned/clarified near the "Pre-reserve DOI" button that the produced DOI is that of the record and not the Concept DOI

[2017-08-07 09:52] #1226 closed

[2017-08-07 12:38] slint commented on #1177
Fix in inveniosoftware/invenio-communities/pull/108. Pending next `invenio-communities` release for integration in Zenodo.

[2017-08-08 15:28] chrisfilo commented on #799
I'm experiencing the same thing with  https://zenodo.org/account/settings/github/repository/poldracklab/fmriprep#

Here's the corresponding release: https://github.com/poldracklab/fmriprep/releases/tag/0.6.0

[2017-08-08 15:29] chrisfilo commented on #1181
I'm experiencing the same issue (which also seems to be a related to https://github.com/zenodo/zenodo/issues/799

[2017-08-08 15:29] chrisfilo commented on #1214
I'm experiencing the same issue (which also seems to be a related to #799)

[2017-08-09 07:50] #970 closed

[2017-08-09 11:46] krzysztof commented on #1201
Merged in https://github.com/zenodo/zenodo/commit/0b75c596c7471ee27df7844ad846929ce32e9e05

[2017-08-09 11:46] #1201 closed

[2017-08-09 11:46] krzysztof commented on #1237
@xiaom Was this done already?

[2017-08-09 12:48] bitsgalore opened #1255 "Keyword that contains whitespace displayed as separe keywords in search interface"
The following publication has the keyword "digital preservation":

<https://zenodo.org/record/840345>

But if I do a search on all publications in my community, it is displayed as 2 separate keywords:

<https://zenodo.org/communities/kbnl/search?page=1&size=20>

Note how the *Keywords* column on the left shows "Digital" and "Preservation" as keywords, but not "Digital Preservation"! This makes it

[2017-08-14 14:17] krzysztof opened #1257 "refactor the pdfgrobid extractor."
1. Rename it from pdfgrobid to something non-specific to extractor like "pdfmetadata"
2. Add parameters to the POST endpoint so that caller can request grobid extraction and OpenAIRE call.

[2017-08-15 09:32] krzysztof opened #1258 "deposit-ui: description field not escaping all characters properly"
Creating a deposit with the following description and saving it:

[code]
will break the deposit rendering on page reload.
Originally reported by a user trying to include a bibtext snipplet.

[2017-08-15 12:30] krzysztof opened #1260 "previewer: XML files are not previewable"

[2017-08-15 12:31] krzysztof commented on #1260
https://zenodo.org/record/809219

[code]

[2017-08-15 18:51] wetneb opened #1261 "Small outage? 502 errors"
Hi,
We see a few 502 errors on our side. This one at 19:36:47 swiss time:
[code]

This time I checked that you had not announced any recent outage on Twitter. Is it helpful if I keep reporting that here in these cases?

Keep up the good work!

[2017-08-16 05:58] lnielsen commented on #1261
We did a production deployment around that time, which normally are fully transparent for some reason the load balancer directed traffic to notes that wasn't fully up yet.

[2017-08-16 05:58] #1261 closed

[2017-08-16 07:41] #1238 closed

[2017-08-16 08:30] slint commented on #936
`invenio-communities v1.0.0a15` is deployed now with the fix

[2017-08-16 08:30] #936 closed

[2017-08-16 08:56] krzysztof opened #1262 "record-ui: unicode character in related identifier is breaking the record display"
Save a record with this as related identifier:
[code]
The accent: ``´`` (\u00b4) is causing the problem. It renders correctly on the deposit page, so the record edit is available, but on the record view page it fails with Internal server error and: ``UnicodeEncodeError: 'ascii' codec can't encode character u'\xb4' (...)``

[2017-08-16 13:36] lnielsen opened #1265 "global: refactor permissions"
Clean up permission handling. In general:

1. Ensure parameterised actions have a permission factory.
2. Define actions one place and change ``Permission(ActionNeed(`admin-access')).can()`` to ``Permission(admin_access_action).can()``

[2017-08-16 20:20] jainaman224 commented on #1212
Profile page with all fields added.
![screen shot 2017-08-17 at 01 49 17-fullpage](https://user-images.githubusercontent.com/13117482/29383556-789820ba-82ee-11e7-8827-2f1378eb82b5.png)

[2017-08-16 20:24] jainaman224 commented on #1212
**Non Zenodo Orcid User**
While data is being fetched from orcid
![screen shot 2017-08-17 at 01 52 06-fullpage](https://user-images.githubusercontent.com/13117482/29383625-c013a978-82ee-11e7-89e9-cb3ba8d68c2a.png)

When data is fetched.
![screen shot 2017-08-17 at 01 52 46-fullpage](https://user-images.githubusercontent.com/13117482/29383640-ccfcf2c0-82ee-11e7-9433-62152945d358.png)

[2017-08-16 20:30] lnielsen opened #1266 "github: grab version from tag and add into new version field"
- [ ] Grab the version tag from GitHub releases and add it in new version field (#1185)

[2017-08-16 20:31] lnielsen opened #1267 "github: migrate version tag from previous releases to new version field"
- Go through all GitHub records and get the version tag from the related identifier.

[2017-08-16 20:32] lnielsen opened #1268 "deposit: enable orcid field in deposit form"
The REST API already supports ORCIDs for authors and contributors. Enable the field in the form so that users can enter the ORCID.

[2017-08-16 20:34] lnielsen opened #1269 "deposit: decide on which new fields to add"
So far:
- Version: #1185
- Language: #293
- ORCID: #1268

[2017-08-16 20:37] lnielsen opened #1270 "openaire: update publication type mapping"

[2017-08-16 20:46] lnielsen opened #1271 "records: display version information if available"
The new version field from #1185 needs to be used in
- [ ] Search results (instead of v2)
- [ ] Record detail page (specific version for the record, list of versions should be based on version field from each record)

[2017-08-18 07:07] xiaom commented on #1257
I change the setting
[code]
to
[code]
since the `project` option is enforced by default under  http://mining.openaire.eu/openaireplus/analyze

[2017-08-18 09:44] #1224 closed

[2017-08-18 09:47] krzysztof opened #1274 "Write documentation for invenio-files-processor which contains info on how to use and how to extend it with more extractors."

[2017-08-18 09:55] krzysztof commented on #1274
This task involves:
- [ ] Go through the code and supplement functions and classes docstrings with parameter types:
[code]
- [ ] Rendering Sphinx documentation and making sure that all pages are non-empty, all text renders nice and all API references have proper hyperlinks (if they do).

- [ ] Writing up usage guide which describes how to make use of pdfmetadata extractor
  - User needs to run gro

[2017-08-22 08:42] lnielsen commented on #1270
https://issue.openaire.research-infrastructures.eu/issues/2938

![screen shot 2017-08-22 at 10 41 00](https://user-images.githubusercontent.com/1698163/29556557-7e2aadf4-8726-11e7-911d-4601a8cdf99b.png)

https://github.com/zenodo/zenodo/blob/master/zenodo/modules/records/data/objecttypes.json

[2017-08-22 08:52] krzysztof opened #1276 "Should non-Open Access files be visible to community curators upon request?"
Community curators cannot see the records they have to decide whether to accept/reject.
Should the files be visible to the curators as long as it's pending for request?

I can see valid cases for both options (i.e. keeping it as is, as well as revealing files to curators).

[2017-08-23 10:18] apozas commented on #799
I was experiencing the same error when using v1.0.0 as release tag. However, when I removed the v and just let the tag as 1.0.0, ([this](https://github.com/apozas/gaussianotto/releases/tag/1.0.0) release), the error disappeared and the publishing went on without further issues.

[2017-08-23 19:17] chrisfilo commented on #799
In our case the version did not include "v", but the error still happened. Maybe something was fixed on the backend between your two releases?

[2017-08-24 07:18] apozas commented on #799
The 'v' was all I changed. It could be that something was fixed internally by Zenodo. What I can do is to attach the payloads for the failed and the successful submissions.

First the failed

    "action": "published",
    "release": {
        "body": "Initial release of the code accompanying *[A quantum Otto engine with finite heat baths: energy, correlations and degradation](https://arxiv.org/ab

[2017-08-24 21:18] jakelever commented on #833
Just in case anyone comes across this, here's some Python to do the file upload part using the new API. This is equivalent to the CURL call outlined above to upload a single file. I've tested it out with 160MB file that failed with the [documented API](http://developers.zenodo.org/#quickstart-upload). This also uses requests (that the documented API uses) and simply makes a new submission and uplo

[2017-08-26 03:55] xiaom commented on #1274
The doc is parts of https://github.com/inveniosoftware/invenio-files-processor/pull/9

[2017-08-28 08:32] xiaom commented on #1237
Part of https://github.com/zenodo/zenodo/pull/1272

[2017-08-28 14:48] krzysztof commented on #942
It was almost fixed here, but requires further attention: https://github.com/zenodo/zenodo/pull/1043

[2017-08-29 14:34] Axel-Naumann opened #1280 ""Cite as" doesn't work for us"
Hi,

We don't want to be cited as Zenodo suggests. Can you either make this configurable, or at least add an option to not display this box?

Thanks for considering!

Axel.

[2017-08-29 14:38] Axel-Naumann opened #1281 "Edited release info not reflected in record page"
Hi,

https://zenodo.org/record/848819 still shows "wlav" as author even though I have fixed that by clicking "Edit" and editing the authors. I can see that the database ate it - clicking Edit again shows "Wim Lavrijsen". But the record page still shows wlav. Same for any other field I'v edited, e.g. the license.

Could that be fixed? (And do you want issues here or through SNOW?)

Cheers, Axel.

[2017-09-05 11:13] PrometheusPi commented on #1214
I currently encountering the same issue

[2017-09-05 11:47] PrometheusPi commented on #1214
For me the issue was solved by using the `dev` branch instead of the `master` branch - however, this skipped the check on the zenodo website where I should press "publish" before it is published according to [this github guide](https://guides.github.com/activities/citable-code/#finishing). (Thus having on github user name as author name instead of the real name)

[2017-09-05 12:29] PrometheusPi commented on #1181
I experienced the same issue today - in #1214 I suggested the following workaround (that worked for me)

---------------
**from #1214**
*For me the issue was solved by using the dev branch instead of the master branch - however, this skipped the check on the zenodo website where I should press "publish" before it is published according to this github guide (Thus having on github user name as autho

[2017-09-05 12:36] giove91 commented on #1181
I've also just experienced the same issue.

[2017-09-08 12:21] krzysztof opened #1285 "SVG files have incorrect content-type (plaintext)"
There are issues with serving SVG files, see https://zenodo.org/record/846178#.WbKIjHV94UF

The content-type should be "Content-Type: image/svg+xml", instead its served as text/plain.

[2017-09-08 13:11] krzysztof opened #1286 "licenses: add EUPL"
https://en.wikipedia.org/wiki/European_Union_Public_Licence

[2017-09-08 14:16] krzysztof commented on #1285
Update: the content-type was set to plaintext on purpose as a security measure, preventing from crafting a svg file which could be potentially malicious to render in-browser.

[2017-09-08 15:14] krzysztof commented on #1285
Re-opening this. We might want to sanitize the SVG content and render it if it doesn't have any malicious elements.

[2017-09-10 19:03] Axel-Naumann commented on #1281
Works for me now - maybe I didn't hit the "publish" button (but only "save")?

[2017-09-10 19:03] #1281 closed

[2017-09-14 11:23] behrica commented on #461
Lots of visulaistion come these days as html files.
A better preview support for html is in my view very important.

I would like to add for exampl,
interactive maps done with tmap https://github.com/mtennekes/tmap

They can be created  as leaflet.js based standalone html files.
Having a way to "click" on them and they get rendered in teh browse would be nicde.

Current way is cumbersome:
1. Click

[2017-09-14 11:48] krzysztof opened #1287 "accounts: changing password for accounts created with GitHub OAuth accounts doesn't work"
Changing password action should account for accounts without any password set. Currently the way to solve this seems to be going through "Forgot password" page.

[2017-09-19 13:44] krzysztof commented on #1280
@Axel-Naumann we are planning to introduce some configurability to citation styles, but the details on that are still undecided: https://github.com/zenodo/zenodo/issues/874

We might want to keep the box visible, since most users wouldn't opt-out of rendering this box, but perhaps a "verbatim" solution (you can include a raw citation text) would work in cases like yours.

[2017-09-19 13:44] #1280 closed

[2017-09-20 04:35] myrmoteras opened #1288 "missing file in API uplod: bug"
In our (BLR) API based upload we often see, that the upload is not completed and thus the deposit cannot be published.

An example is this file: https://zenodo.org/record/831094 which produces this error message
![image](https://user-images.githubusercontent.com/4609956/30626946-a9a75a3c-9dcd-11e7-862e-8a3d884a8bb1.png)

Originally we didn't have this problem, but now it occurs more often, and add

[2017-09-20 17:02] slint commented on #1102
@lnielsen Some basic redesign to fit everything in the results
![image](https://user-images.githubusercontent.com/1814661/30656923-02d0144c-9e36-11e7-8048-80a6c760fdfb.png)

[2017-09-20 17:25] slint commented on #1270
Do we update only `code` -> [`openaire.resourceType`](https://github.com/zenodo/zenodo/blob/ef415ddf4d9839515d9e8c0b82d2585703e0812c/zenodo/modules/records/data/objecttypes.json#L48), or also `term openaire` -> [`openaire.type`](https://github.com/zenodo/zenodo/blob/ef415ddf4d9839515d9e8c0b82d2585703e0812c/zenodo/modules/records/data/objecttypes.json#L49)? For the latter only `publication` and `da

[2017-09-20 17:31] martinjuckes commented on #915
Are you refering to [invenio-stat](https://pypi.python.org/pypi/invenio-stats/1.0.0a7), which has now reached version 1.0.0a7? Do you have an update of when it can be installed on Zenodo?

[2017-09-21 07:28] myrmoteras opened #1290 "missing data in search"
when I want to see all the files type=pdf that are access right type=close, I expect 16,767 results, but don't see anthing
https://zenodo.org/communities/biosyslit/search?page=1&size=20&access_right=closed&file_type=pdf

![image](https://user-images.githubusercontent.com/4609956/30683825-360191be-9eaf-11e7-848d-00cd55cc27f6.png)

[2017-09-21 07:34] myrmoteras opened #1291 "search results: incomplete"
when I search for
https://zenodo.org/communities/biosyslit/search?page=1&size=20&access_right=closed&type=publication

I don't get all the files that are in Zenodo/BLR. For example here, I do not get DOI: https://doi.org/10.11646/zootaxa.4323.2.2 (which is in the system: https://zenodo.org/record/898880) and  DOI: https://doi.org/10.11646/zootaxa.4323.2.8 (which is in the system: https://zenodo.or

[2017-09-22 11:37] joschirr opened #1294 "wrong relationType in metadata records describing software"
actually two issues:

1. according to the DOI versioning concept of zenodo I would expect the relationType "isVersionOf" instead of "isPartOf" in the metadata describing software.
2. does zenodo also expose the DOI "concept" metadata records ?

(related issue number in OpenAIRE redmine: 3124)

[2017-09-22 12:15] SR-- opened #1295 "'Contact Us' is broken"
All I get is: Internal server error. Error identifier: 427e53b6fe0b433ba813ceff491c5fa9

[2017-09-22 12:17] slint commented on #1270
@lnielsen Does [this logic](https://github.com/zenodo/zenodo/blob/master/zenodo/modules/openaire/helpers.py#L36-L61) change because of the new types? From [OpenAIRE's search categories](https://www.openaire.eu/search/find), they place under "Research Data" types like "Software", "Audiovisual", "Film", "Sound", etc.

Relevant cases:

- [OpenAIRE Original ID](https://github.com/zenodo/zenodo/blob/ma

[2017-09-22 12:28] SR-- commented on #275
Tried with two different emails, cannot get the verification email. Resend button produces no effect.

[2017-09-23 10:01] jibe-b opened #1296 "[search api] anticipate integration with Searx"
Dear OpenAIRE team,

[Searx](http://github.com/asciimoo/searx) is meta-search engine that takes various indexes as sources. The science tab only searches in scientific academic engines, including BASE and soon, PubMed and OpenAIRE.

Zenodo would be a really interesting index for this tab. I have then two questions:
- could you give the expected API url pattern, so that I already write the engine a

[2017-09-25 07:28] slint commented on #1288
This one seems to be because of some related identifiers containing strange unicode whitespace characters that usually appear on PDF files. We can have a fix ready for the next deployment, though you might want to update this related identifiers metadata, since they probably won't produce a valid/renderable link.

Example related identifiers (full record JSON available [here](https://zenodo.org/ap

[2017-09-25 07:54] slint commented on #1290
That is because we do not index any file information for closed access records, since that would technically be considered as sharing information about the files.

Though your confusion is justified, since the search facet/filter categories show (on purpose) totals for the entire query result set.

[2017-09-25 08:02] slint commented on #1295
This error was caused by a failure on our email delivery service, which is currently resolved. The *Contact Us* form should be working normally now.

[2017-09-25 08:02] #1295 closed

[2017-09-25 08:03] #1290 closed

[2017-09-25 08:04] myrmoteras commented on #1288
I replaced the respective related identifier and it works.

[2017-09-25 08:50] krzysztof commented on #293
On our side we will be storing ISO 639-3 (three-letter code). One caveat is that DataCite will receive ISO 639-1 (two-letter code). Former is a wider set, hence some less common languages will not be reported in DataCite format.

[2017-09-25 09:09] slint commented on #1291
This seems to be an issue caused by a malfunctioning search index node we had on production since last week. We will be running a task which will synchronize published records and the search index for that specific time period.

[2017-09-25 15:01] krzysztof commented on #1269
Version and Language are done in https://github.com/zenodo/zenodo/pull/1278

Closing as #1268 is already in the sprint as a separate ticket

[2017-09-25 15:01] #1269 closed

[2017-09-25 15:24] krzysztof commented on #1294
Dear @joschirr

1. the "HasVersions" "isVersionOf" is currently not supported in DataCite 4.0, but is only in planning for the next version: https://schema.test.datacite.org/
We plan to upgrade our relation types to those terms as soon as we can upgrade to the new datacite schema.
2. The concept DOI is currently implemented, so that it always resolves to the latest version of the record - it does

[2017-09-25 15:35] joschirr commented on #1294
thanks. I should have taken a closer look at
https://schema.datacite.org/meta/kernel-4.0/include/datacite-relationType-v4.xsd
But I wonder if "IsNewVersionOf" / "IsPreviousVersionOf" could somehow better describe the relation between different versions of a software than "isPartOf" which sounds like a software is splitted into several files.

[2017-09-25 16:39] slint commented on #1291
All records affected by the issue have been reindexed and are available in search results now.

[2017-09-25 16:39] #1291 closed

[2017-09-25 17:55] AramZS opened #1297 "REST API Request Response not conforming to documentation"
Hello all,

I'm building an application that pushes documents to Zenodo via REST API. I'm using the instructions here - http://developers.zenodo.org/?python#quickstart-upload - though with PHP and not Python.

My server is HTTPS.
My content type is properly set.
My URL is set to https://zenodo.org/api/deposit/depositions?access_token=[token] and the GET request does work.

But the POST request doe

[2017-09-26 15:41] slint commented on #1268
Field preview:
![image](https://user-images.githubusercontent.com/1814661/30869546-b72988c4-a2e1-11e7-9911-7c8911440ad4.png)

[2017-09-27 19:09] viniciusvgp opened #1300 "REST API missing field"
Dear all,

_First of all, this is a documentation issue in the zenodo website (http://developers.zenodo.org). I don't know if this is the best place to report it, so if not, let me know the right one :-)_

I am using the REST API as documented on the developer's page (http://developers.zenodo.org). However, the `record_url` field is missing.  In my case, I am replacing it by `record_html`, but I a

[2017-09-28 09:48] slint commented on #1233
In general having the [DOI Character Set Spec](http://www.doi.org/doi_handbook/2_Numbering.html#2.5.2) in mind, [`PersistendIdentifier`](https://github.com/zenodo/zenodo/blob/73d8765574920653c42234b3aafb89ab197db35b/zenodo/modules/records/serializers/fields/persistentid.py#L36) (probably by modifying [`SanitizedUnicode`](https://github.com/zenodo/zenodo/blob/73d8765574920653c42234b3aafb89ab197db35

[2017-09-29 11:52] 7048730 commented on #833
@lnielsen @jakelever
Do you think it is possible to stream a chunked file into the bucket using `requests.put`?
Context:
I have a set of large files that I want to zipstream without greating a zipfile in memory or on disk beforehand. I would like to pass a generator object to octet-stream of the request method.

[2017-10-01 23:50] aminevsaziz opened #1302 "installing webhooks failing"
Just by following the steps to get a DOI for GitHub repo i fail at  installing webhooks since the installed webhooks show "invalid HTTP Response:500". also by accessing the webhook then response tab i see the following :

 Headers

Access-Control-Allow-Origin: *
Access-Control-Expose-Headers: Content-Type, ETag, Link, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset
Content-Length: 64
C

[2017-10-02 12:35] slint opened #1304 "contact-form: anonymous users losing flash messages"
When anonymous (aka. not logged-in users), submit the support form they get redirected to the frontpage, which because of being cached, does not go through the Jinja rendering workflow, and thus does not display any flashed messages (ie. the confirmation that the support message was sent...)

[2017-10-03 11:22] slint opened #1305 "global: unicode string formatting"
There is a variety of bugs that is related to calling `.format` with unicode arguments on non unicode-prefixed format strings

[code]

Grepping around the codebase and replacing these instances should be a pretty quick way to fix this. Also integrating [`flake8-unicode-string-literal`](https://github.com/cogniteev/flake8-unicode-string-literal) in `pytest.ini` might also be more automated/consiste

[2017-10-03 11:35] krzysztof commented on #1305
This requires attention in all of invenio @lnielsen

[2017-10-03 12:22] slint commented on #1305
In addition to this flake8 plugin, there's this list of flake8 extensions we can review: https://pypi.python.org/pypi?%3Aaction=search&term=flake8-&submit=search

[2017-10-04 08:19] slint commented on #731
Closed via #1299

[2017-10-04 08:19] #731 closed

[2017-10-04 08:19] slint commented on #1102
Closed via #1299

[2017-10-04 08:19] #1102 closed

[2017-10-04 08:20] slint commented on #1268
Closed via #1299

[2017-10-04 08:20] #1268 closed

[2017-10-04 08:21] slint commented on #293
Closed via #1299

[2017-10-04 08:21] #293 closed

[2017-10-04 08:45] krzysztof opened #1306 "DOI registration celerybeat tasks"
We should have a celerybeat task that scans for unregistered DOIs and re-sends them in case of long-standing failures to register a DOI in the first place (currently it's 6 hours: https://github.com/zenodo/zenodo/blob/master/zenodo/modules/deposit/tasks.py#L41)

[2017-10-04 12:31] slint opened #1308 "deposit-ui: ORCID for contributors"

[2017-10-04 12:34] krzysztof commented on #1305
Alternative is ``from __future__ import unicode_literals``

[2017-10-04 15:33] krzysztof commented on #1229
Actually typing "Creative Commons Zero" doesn't do it either. One needs to type "C" and then wait for the results (should be first on the list).

[2017-10-04 15:38] krzysztof commented on #1229
Similarly PDDL (https://opendatacommons.org/category/pddl/) requires a pharase "Open Data Commons".

Most "intuitive" phrases that do not work and perhaps should:

- "PDDL"
- "Public Domain Dedication"

[2017-10-05 09:58] krzysztof commented on #1294
@joschirr The isPartOf is only a relation from the record DOI to a "Concept DOI" (and vice-versa). Concept DOI is kind of a higher-level DOI which describes multiple versions of the same resource. DOIs which are "across" the version sequence do not relate to one another yet. The isNewVersionOf/isPreviousVersionOf was in planning and was actually implemented, but we decided not to use it in the end

[2017-10-05 10:00] krzysztof commented on #1262
Fixed in https://github.com/zenodo/zenodo/pull/1310/commits/3b8a9d405b8ce593a269beb56c54a552ede894bb

[2017-10-05 10:00] #1262 closed

[2017-10-05 12:05] jirikuncar commented on #1305
You can use `isort` to add the `unicode_literals` everywhere, but better way is to be explicit by using `b"..."` and `u"..."` if you are planning to support both PY2/3.

[2017-10-05 13:10] slint opened #1311 "tasks: hard file verification scheduled task failing"
The passed checksum kwarg `use_default_impl` is wrongly passed to the task. Fix available at https://github.com/inveniosoftware/invenio-files-rest/pull/168

[2017-10-08 14:29] monperrus opened #1313 "propose more than 6 suggestion for community auto-completion"
Currently, there are 6 community suggestions, given as a drop-down menu.

Problem: the right community may be beyond the 6 given ones.

Solution: add a way to scroll beyond the first 6 suggestions

[2017-10-09 09:07] mdeff opened #1314 "Internal Server Error when updating GitHub record"
I created a [record](https://zenodo.org/record/1003158) from a GitHub tag and Zenodo registered a DOI for it. All went fine, but I am not able to update that record, e.g. to change the authors. I can click on *Edit*, do my modifications, click *Save*. But once I click on *Publish* I get an *Internal Server Error*.

Any idea of what is wrong? Let me know if there's anything I can do to track this d